<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<script src="/js/common/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
	let message = /*[[${PARAM_MESSAGE}]]*/ "";
	if(message != "" && message != null){
		alert(message);
	}
</script>
</head>
<body>
<form name="redirectForm" id="redirectForm" action="/login" method="get" target="_top">
	<input type="hidden" name="returnUrl" th:value="${returnUrl}" />
	<input type="hidden" name="type" th:value="${type}" />
</form>
<script type="text/javascript">
	var frm = document.redirectForm;
	frm.submit();
</script>
</body>
</html>
