<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<script src="/js/common/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
	let message = /*[[${PARAM_MESSAGE}]]*/ "";
	if(message != "" && message != null){
		alert(message);
	}
</script>
</head>
<body>
<form name="redirectForm" id="redirectForm" method="get" target="_top">
	<th:block th:if="${PARAM_MAP != null}">
		<th:block th:each="entry, status : ${PARAM_MAP}">
			<th:block th:if="${not empty entry.value}">
				<input type="hidden" th:name="${entry.key}" th:value="${entry.value}">
			</th:block>
		</th:block>
	</th:block>
</form>
<script th:inline="javascript">
	
	var frm = document.redirectForm;
	let method = /*[[${METHOD}]]*/ "";
	frm.action = /*[[${returnUrl}]]*/ "";
	if(method != ""){
		frm.method = method;
	}
	frm.submit();
</script>
</body>
</html>
