<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:thym="http://www.thymeleaf.org/extras/java8time"
	  layout:decorate="~{layouts/admin_layout}">
	<main layout:fragment="content">
		<style>
			.title {
				padding: 30px 40px 20px 0px;
			}
			.title > h1{
				font-size: 24px;
			}
			.search {
				padding: 15px; 
				background-color: #fafafa; 
				border-top:1px solid #e1e1e1;
				border-bottom:1px solid #e1e1e1;
				font-size: 14px;
			}
			.search > p > i{
				font-size: 18px;
			}
			.inputText {
				border: 1px solid #c5c5c5;
				background: #fff;
				color: #444;
				border-radius: 0;
				height: 32px;
				padding-left: 10px;
				width:140px;
			}
			.inputSelect {
				border: 1px solid #c5c5c5;
				background: #fff;
				color: #444;
				border-radius: 0;
				height: 32px;
				padding-left: 5px;
				width:140px;
			}
			.inputSelect2 {
				border: 1px solid #c5c5c5;
				background: #fff;
				color: #444;
				border-radius: 0;
				height: 32px;
				padding-left: 5px;
				width:90px;
				font-size: 12px;
			}
			.search > div > .spanTitle {
				display:inline-block;
				width:80px;
			}
			.i_calendar {
				background-color: #fff;
				border:1px solid rgb(192, 192, 192);
				border-left: 0px;
				padding:6px;
				cursor: pointer;
			}
			.btn_date {
				margin-left: 7px;
				background-color: #fff;
				border:1px solid rgb(192, 192, 192);
				padding:5px 15px 5px 15px;
				width:65px;
			}
			.btn_active {
				background-color: #787878;
				color: #FFF;
			}
			.btn_search {
				min-width: 60px;
				line-height: 30px;
				height: 32px;
				padding: 0 9px;
				border: 1px solid #787878;
				background: #787878;
				color: #FFF;
			}
			.cursor-pointer {
				cursor: pointer;
			}
			.btn_excel {
				min-width: 60px;
				line-height: 30px;
				height: 32px;
				padding: 0 9px;
				border: 1px solid #000;
				background: #000;
				color: #FFF;
				font-size: 15px;
			}
			.btn_manage {
				min-width: 60px;
				line-height: 30px;
				height: 32px;
				padding: 0 9px;
				border: 1px solid rgb(0, 128, 255);
				background: rgb(0, 128, 255);
				color: #FFF;
				font-size: 15px;
			}
			.btn_deliv {
				min-width: 60px;
				line-height: 30px;
				height: 32px;
				padding: 0 9px;
				border: 1px solid rgb(255, 0, 0);
				background: rgb(255, 0, 0);
				color: #FFF;
				font-size: 15px;
			}
			.table {
				font-size: 13px;
				border: 1px solid #c5c5c5;
			}
			.modalFirst {
				padding: 20px;
				font-size: 13px;
				color: #666;
				border: 1px solid #eee;
				background: #f9f9f9;
			}
			@media (min-width: 1200px) {
			    .modal-xxl {
			        --bs-modal-width: 1454px;
			    }
			}
		</style>
		<div class="contents" style="height: 100%;">
			<div class="ms-4 me-4">
				<div class="title"><h1><i class="bi bi-check-lg me-2"></i>배송 관리</h1></div>
				<div class="search">
					<div class="mb-2">
						<span class="mb-1 spanTitle" data-bs-toggle="tooltip" data-bs-placement="top" title="등록 일시 기준"><i class="bi bi-dot me-1"></i>기간</span>
						<span class="ms-4">
							<input type="text" id="startDate" class="inputText datepicker cursor-pointer" placeholder="YYYY-MM-DD" title="시작기간" readonly><i class="bi bi-calendar i_calendar me-2" onclick="$('#startDate').datepicker('show');"></i>
							~ 
							<input type="text" id="endDate" class="inputText ms-2 cursor-pointer" placeholder="YYYY-MM-DD" title="종료기간" readonly><i class="bi bi-calendar i_calendar" onclick="$('#endDate').datepicker('show');"></i>
							<input type="button" class="btn_date" id="0" value="오늘">
							<input type="button" class="btn_date" id="1" value="7일">
							<input type="button" class="btn_date" id="2" value="1개월">
							<input type="button" class="btn_date" id="3" value="3개월">
							<input type="button" class="btn_date" id="4" value="전체">
						</span>
					</div>
					<div class="mb-2">
						<span class="mb-1 spanTitle"><i class="bi bi-dot me-1"></i>배송상태</span>
						<span class="ms-4">
							<select id="delivStatus" class="inputSelect" title="배송상태">
								<option value="">선택</option>
								<option value="1000">배송전</option>
								<option value="0000">배송완료</option>
							</select>
						</span>
					</div>
					<div class="mb-2">
						<span class="mb-1 spanTitle"><i class="bi bi-dot me-1"></i>담당자</span>
						<span class="ms-4">
							<select id="managerNo" class="inputSelect" title="배송담당자">
								<option value="">선택</option>
								<option value="0">미배정</option>
								<th:block th:each="rs,rsStat : ${manageList}">
									<option th:value="${rs.managerNo}" th:utext="${rs.managerNm}"></option>
								</th:block>
							</select>
						</span>
					</div>
					<div class="mb-2">
						<span class="mb-1 spanTitle"><i class="bi bi-dot me-1"></i>검색</span>
						<span class="ms-4">
							<select id="searchOption" class="inputSelect" title="검색조건">
								<option value="">선택</option>
								<option value="1">받는이</option>
								<option value="2">주문번호</option>
							</select>
							<span class="ms-4">
								<input type="text" id="searchText" class="inputText" placeholder="검색어를 입력해주세요." title="검색명" maxlength="20" style="width: 265px;" onkeypress="enterKey()">
								<select id="searchOrder" class="inputSelect2" data-bs-toggle="tooltip" data-bs-placement="top" title="검색 정렬 기준">
									<option value="1">등록일시</option>
									<option value="2">식단일자</option>
								</select>
								<select id="searchOrderBy" class="inputSelect2">
									<option value="1">내림차순</option>
									<option value="2">오름차순</option>
								</select>
								<button type="button" id="ui_search_btn" class="btn_search ms-1">검색</button>
								<button type="button" id="ui_reset_btn" class="btn_search ms-1">초기화</button>
							</span>
						</span>
					</div>
					<form name="hiddenForm" style="display:none;">
						<input type="hidden" id="nowpage" value="1"/>
						<input type="hidden" id="hiddenStartDate">
						<input type="hidden" id="hiddenEndDate">
						<input type="hidden" id="hiddenDelivStatus">
						<input type="hidden" id="hiddenSearchOption">
						<input type="hidden" id="hiddenSearchText">
						<input type="hidden" id="hiddenSearchOrder">
						<input type="hidden" id="hiddenSearchOrderBy">
						<input type="hidden" id="managerNo">
					</form>
				</div>
				
				<div class="list-header mt-4">
					<span class="mt-4 spanTitle"><i class="bi bi-dot me-1"></i>총 : <strong id="textCount">0</strong> 건</span>
					<span style="float: right;">
						<button type="button" id="ui_manage_btn" class="btn_manage ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="배송할 담당자를 지정한다.">배정관리</button>
						<button type="button" id="ui_deliv_btn" class="btn_deliv ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="리스트를 체크하여 수동으로 배송완료 시킨다.">배송완료처리</button>
						<button type="button" id="ui_excel_btn" class="btn_excel ms-1">엑셀다운</button>
					</span>
				</div>
				<div class="list mt-4" style="height: 460px;">
					<table class="table text-center table-bordered" style="vertical-align:middle;">
						<thead>
							<tr>
								<th style="width:2%"><input type="checkbox" id="allCheck"></th>
								<th style="width:9%">식단일자</th>
								<th style="width:5%">배송상태</th>
								<th style="width:9%">배송일시</th>
								<th style="width:5%">담당자</th>
								<th style="width:4%">수량</th>
								<th style="width:10%">주문번호</th>
								<th style="width:7%">받는이</th>
								<th style="width:7%">연락처</th>
								<th style="width:33%">주소</th>
								<th style="width:10%">등록일시</th>
							</tr>
						</thead>
						<tbody id="orderBody"/>
					</table>
				</div>
				<nav aria-label="Page navigation example text-center" class="mt-4">
					<ul class="pagination justify-content-center">
						<input type="hidden" id="totalCount" value="0" />
					</ul>
				</nav>
			</div>
			<button type="button" style="display:none;" id="modalDeliv" data-bs-toggle="modal" data-bs-target="#exampleModalCenteredScrollable"></button>
        </div>
        <!-- 배정관리 Modal -->
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
			<div class="modal fade" id="exampleModalCenteredScrollable" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none;">
				<div class="modal-dialog modal-xxl">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalCenteredScrollableTitle">배정관리</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
						</div>
						<div class="modal-body">
							<div class="container-fluid">
								<div class="row p-4">
									<div class="col-md-4">
										<p class="lead">[ 배송 담당자 선택 ]</p>
										<table id="modalManage" class="table table-borderless text-center fs-6" style="vertical-align:middle; border-width:0px;"></table>
									</div>
									<div class="col-md-8" style="height: 650px;overflow-x: scroll;overflow-y: scroll;">
										<p class="lead">[ 미배정 리스트 ]</p>
										<span class="">등록일시 오름차순 정렬입니다.</span>
										<span class="float-end noCnt me-3"></span>
										<table id="modalManage2" class="table table-bordered text-center fs-6" style="vertical-align:middle;min-width: 860px;width:max-content; height: max-content;"></table>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn btn-primary" onclick="fnAction()">배정</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			function fnInit(){
				searchBtn();
			}
			$(document).ready(function() {
				
				$('#startDate').datepicker({
					format: 'yyyy-mm-dd', //데이터 포맷 형식(yyyy : 년 mm : 월 dd : 일 )
					endDate: '+0d', //달력에서 선택 할 수 있는 가장 느린 날짜. 이후로 선택 불가 ( d : 일 m : 달 y : 년 w : 주)
					autoclose: true, //사용자가 날짜를 클릭하면 자동 캘린더가 닫히는 옵션
					templates: {
						leftArrow: '&laquo;',
						rightArrow: '&raquo;',
					}, //다음달 이전달로 넘어가는 화살표 모양 커스텀 마이징
					showWeekDays: true, // 위에 요일 보여주는 옵션 기본값 : true
					todayHighlight: true, //오늘 날짜에 하이라이팅 기능 기본값 :false
					toggleActive: true, //이미 선택된 날짜 선택하면 기본값 : false인경우 그대로 유지 true인 경우 날짜 삭제
					weekStart: 0, //달력 시작 요일 선택하는 것 기본값은 0인 일요일
					buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif", //버튼 이미지 경로
					buttonImageOnly: true, //버튼 이미지만 깔끔하게 보이게함
					language: 'ko', //달력의 언어 선택, 그에 맞는 js로 교체해줘야한다.
				}).on('changeDate', function (e) {
					var startDate = e.date;
					$('#endDate').datepicker('setStartDate', startDate);
				});
				
				$('#endDate').datepicker({
					format: 'yyyy-mm-dd', //데이터 포맷 형식(yyyy : 년 mm : 월 dd : 일 )
					startDate: '-2d',
					endDate: '+0d', //달력에서 선택 할 수 있는 가장 느린 날짜. 이후로 선택 불가 ( d : 일 m : 달 y : 년 w : 주)
					autoclose: true, //사용자가 날짜를 클릭하면 자동 캘린더가 닫히는 옵션
					templates: {
						leftArrow: '&laquo;',
						rightArrow: '&raquo;',
					}, //다음달 이전달로 넘어가는 화살표 모양 커스텀 마이징
					showWeekDays: true, // 위에 요일 보여주는 옵션 기본값 : true
					todayHighlight: true, //오늘 날짜에 하이라이팅 기능 기본값 :false
					toggleActive: true, //이미 선택된 날짜 선택하면 기본값 : false인경우 그대로 유지 true인 경우 날짜 삭제
					weekStart: 0, //달력 시작 요일 선택하는 것 기본값은 0인 일요일
					buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif", //버튼 이미지 경로
					buttonImageOnly: true, //버튼 이미지만 깔끔하게 보이게함
					language: 'ko', //달력의 언어 선택, 그에 맞는 js로 교체해줘야한다.
				}).on('changeDate', function (e) {
					var endDate = e.date;
					$('#startDate').datepicker('setEndDate', endDate);
				});
				
				//툴팁 이펙트 효과
				$('[data-bs-toggle="tooltip"]').tooltip();
				
				// 버튼 클릭 이벤트 처리
				$('.btn_date').click(function() {
					// 대상 요소에 btn_active 클래스가 있는지 확인
					var hasClass = $(this).hasClass('btn_active');
			
					// btn_active 클래스가 있으면 제거, 없으면 추가
			        if (hasClass) $(this).removeClass('btn_active'); // 클래스 제거
			        else {
						$(".btn_date").removeClass('btn_active'); // 클래스 제거
			            $(this).addClass('btn_active'); // 클래스 추가
			        }
					
					let rangeDate = $(this).attr("id");
					switch(rangeDate){
						case "0":
							//오늘
							$('#startDate').datepicker('setDate','today');
							$('#endDate').datepicker('setDate','today');
							break;
						case "1":
							//7일
							$('#startDate').datepicker('setDate','-7D');
							$('#endDate').datepicker('setDate','today');
							break; 
						case "2":
							//1개월
							$('#startDate').datepicker('setDate','-1M');
							$('#endDate').datepicker('setDate','today');
							break; 
						case "3":
							//3개월
							$('#startDate').datepicker('setDate','-3M');
							$('#endDate').datepicker('setDate','today');
							break;
						default :
							$('#startDate').datepicker('setDate',null);
							$('#endDate').datepicker('setDate',null);
							break;	
					}
			    });
				
				
				//초기화버튼
				$("#ui_reset_btn").on("click", function() {
					
					$('#startDate').datepicker('setDate',null);	//시작기간
					$('#endDate').datepicker('setDate',null);	//종료기간
					
					$("#delivStatus").val("");					//주문상태
					$("#searchOption").val("");					//검색종류
					$("#searchText").val("");					//검색어
					$("#searchOrder").val("1");					//정렬조건
					$("#searchOrderBy").val("1");				//오름내림차순
					
					$(".btn_date").removeClass('btn_active');	//기간 버튼
				});
				
				//검색버튼
				$("#ui_search_btn").on("click", function() {
					searchBtn();
				});
				$('#ui_excel_btn').click(function() {
					excelBtn();
				});
				excelBtn = function () {
					
					let startDate	= $("#startDate").val();
					let endDate		= $("#endDate").val();
					let delivStatus = $("#delivStatus").val();
					let searchOption= $("#searchOption").val();
					let searchText	= $("#searchText").val();
					let searchOrder	= $("#searchOrder").val();
					let searchOrderBy= $("#searchOrderBy").val();
					let managerNo= $("#managerNo").val();
					
					if(searchText != "" && 	searchOption == ""){
						alert("검색 옵션을 선택해 주세요.");
						$("#searchOption").focus();
						return;
					}
					
					$("#hiddenStartDate").val(startDate);
					$("#hiddenEndDate").val(endDate);
					$("#hiddenDelivStatus").val(delivStatus);
					$("#hiddenSearchOption").val(searchOption);
					$("#hiddenSearchText").val(searchText);
					$("#hiddenSearchOrder").val(searchOrder);
					$("#hiddenSearchOrderBy").val(searchOrderBy);
					$("#hiddenManagerNo").val(managerNo);
					
					let form = document.hiddenForm;
					form.method = "GET";
					form.action = "/admin/delivExcel";
					form.submit();
				}
				searchBtn = function () {
					
					let startDate	= $("#startDate").val();
					let endDate		= $("#endDate").val();
					let delivStatus = $("#delivStatus").val();
					let searchOption= $("#searchOption").val();
					let searchText	= $("#searchText").val();
					let searchOrder	= $("#searchOrder").val();
					let searchOrderBy= $("#searchOrderBy").val();
					let managerNo= $("#managerNo").val();
					
					if(searchText != "" && 	searchOption == ""){
						alert("검색 옵션을 선택해 주세요.");
						$("#searchOption").focus();
						return;
					}
					
					let pageSize	= 10;
					let startPage	= 0;
					let endPage		= 10;
					
					$("#hiddenStartDate").val(startDate);
					$("#hiddenEndDate").val(endDate);
					$("#hiddenDelivStatus").val(delivStatus);
					$("#hiddenSearchOption").val(searchOption);
					$("#hiddenSearchText").val(searchText);
					$("#hiddenSearchOrder").val(searchOrder);
					$("#hiddenSearchOrderBy").val(searchOrderBy);
					$("#hiddenManagerNo").val(managerNo);
					
					let formData = {
						startDate	: startDate,
						endDate		: endDate,
						startPage	: startPage,
						endPage		: endPage,
						delivStatus : delivStatus,
						searchOption: searchOption,
						searchText	: searchText,
						searchOrder	: searchOrder,
						searchOrderBy: searchOrderBy,
						managerNo: managerNo,
						pageSize	: pageSize
					}
					$.showMask();
					$.ajax({
						url : "/admin/rest/order/deliverySearchList",
						type : "POST",
						dataType : "json",
						data : formData,
						success : function(result) {
							$.hideMask();
							let cnt = result.data.deliverySize;
							
							$("#textCount").text(cnt);
							$("#totalCount").val(cnt);
							
							let addHtml = "";
							if(cnt > 0 ){
								for(let i = 0; i < result.data.deliveryList.length; i ++){
									let data = result.data.deliveryList[i];
									addHtml +=	'<tr>';
									addHtml += 		'<td><input type="checkbox" value="'+data.deliverySeq+'"/></td>';
									addHtml +=		'<td>' + data.menuDay + '</td>';
									addHtml +=		'<td>' + data.deliveryStatusNm + '</td>';
									addHtml +=		'<td>' + data.deliveryDt + '</td>';
									addHtml +=		'<td>' + data.managerNm + '</td>';
									addHtml +=		'<td>' + data.orderQty + '개</td>';
									addHtml +=		'<td>' + data.orderNo + '</td>';
									addHtml +=		'<td>' + data.receiveName + '</td>';
									fnDecrypt(data.receivePhone,function(decryptedData){
										addHtml +=	'<td>' + decryptedData + '</td>';
									});
									addHtml +=		'<td>(' + data.receivePostNum + ') '+ data.receiveAddr+ ' '+data.receiveAddrDetail+'</td>';
									addHtml +=		'<td>' + data.regDt + '</td>';
									addHtml +=	'</tr>';
								}
							} else {
								addHtml +='<tr>';
								addHtml +='<td colspan="11">검색 결과가 없습니다.</td>';
								addHtml +='</tr>';
							}
							$("#orderBody").html(addHtml);
							let page = 1;
							
							$(".page-number").remove();
							if(cnt%pageSize==0){
								cnt = Math.floor(cnt/pageSize);
							}else{
								cnt = Math.floor(cnt/pageSize)+1
							}
							var pageHtml = "";
							for(var i=0; i<cnt; i++){
								if(i==(page-1)){
									pageHtml += '<li class="page-item page-number active" style="cursor:pointer;" onclick="searchPaging('+(i+1)+')"><a class="page-link">'+(i+1)+'</a></li>';
									$("#nowpage").val(i+1);
								} else{
									if(page == 1){
										if(i==(page) || i==(page+1) || i==(page+2) || i==(page+3)){
											pageHtml += '<li class="page-item page-number" style="cursor:pointer;" onclick="searchPaging('+(i+1)+')"><a class="page-link">'+(i+1)+'</a></li>';	
										}	
									}else if(page == 2){
										if(i==(page-2) || i==(page) || i==(page+1) || i==(page+2)){
											pageHtml += '<li class="page-item page-number" style="cursor:pointer;" onclick="searchPaging('+(i+1)+')"><a class="page-link">'+(i+1)+'</a></li>';	
										}	
									}else if(page == (cnt)){
										if(i==(page-2) || i==(page-3) || i==(page-4) || i==(page-5)){
											pageHtml += '<li class="page-item page-number" style="cursor:pointer;" onclick="searchPaging('+(i+1)+')"><a class="page-link">'+(i+1)+'</a></li>';	
										}	
									}else if(page == (cnt-1)){
										if(i==(page) || i==(page-2) || i==(page-3) || i==(page-4)){
											pageHtml += '<li class="page-item page-number" style="cursor:pointer;" onclick="searchPaging('+(i+1)+')"><a class="page-link">'+(i+1)+'</a></li>';	
										}	
									}else{
										if(i==(page-2) || i==(page-3) || i==(page) || i==(page+1)){
											pageHtml += '<li class="page-item page-number" style="cursor:pointer;" onclick="searchPaging('+(i+1)+')"><a class="page-link">'+(i+1)+'</a></li>';	
										}
									}
								}
							}
							//마지막 페이지일때 끝으로 가기 숨김
							if(cnt != 0 && page != cnt){
								pageHtml += '<li class="page-item page-number" style="cursor:pointer;" onclick="searchPaging('+ cnt +')">';
								pageHtml += '<a class="page-link" aria-label="Next">';
								pageHtml += '<span aria-hidden="true">&raquo;</span>';
								pageHtml += '</a>';
								pageHtml += '</li>';
							}
							$("#totalCount").after(pageHtml);
						}, error : function(request, status, error) {
							$.hideMask();
							alert("에러코드: " + request.status + "\n메시지: " + request.responseText);
						}
					});
				}
				fnDecrypt = function (encryptedData, callback) {
					let formData = {
						encryptedData	: encryptedData
					}
					$.ajax({
						url : "/admin/rest/order/decrypt",
						type : "POST",
						dataType : "json",
						async:false,
						cache:"false",
						data : formData,
						success : function(result) {
							callback(result.data.decryptedData);
						}, error : function(request, status, error) {
							alert("관리자에게 문의해 주세요.");
						}
					});
				}
				
				searchPaging = function (page) {
					
					$("#allCheck").prop('checked',false);
					
					let startDate = $("#hiddenStartDate").val();
					let endDate = $("#hiddenEndDate").val();
					let delivStatus = $("#hiddenDelivStatus").val();
					let searchOption = $("#hiddenSearchOption").val();
					let searchText = $("#hiddenSearchText").val();
					let searchOrder	= $("#searchOrder").val();
					let searchOrderBy= $("#searchOrderBy").val();
					let managerNo= $("#managerNo").val();
					
					let pageSize = 10;
					let startPage = 0;
					let endPage = pageSize;
					if(page != 1) startPage = ((page-1)*pageSize);
					
					let formData = {
						startDate	: startDate,
						endDate		: endDate,
						startPage	: startPage,
						endPage		: endPage,
						delivStatus : delivStatus,
						searchOption: searchOption,
						searchText	: searchText,
						searchOrder	: searchOrder,
						searchOrderBy: searchOrderBy,
						managerNo: managerNo,
						pageSize	: pageSize
					}
					$.showMask();
					$.ajax({
						url : "/admin/rest/order/deliverySearchList",
						type : "POST",
						dataType : "json",
						data : formData,
						success : function(result) {
							$.hideMask();
							let cnt = result.data.deliverySize;
							
							$("#textCount").text(cnt);
							$("#totalCount").val(cnt);
							
							let addHtml = "";
							if(cnt > 0 ){
								for(let i = 0; i < result.data.deliveryList.length; i ++){
									let data = result.data.deliveryList[i];
									addHtml +=	'<tr>';
									addHtml += 		'<td><input type="checkbox" value="'+data.deliverySeq+'"/></td>';
									addHtml +=		'<td>' + data.menuDay + '</td>';
									addHtml +=		'<td>' + data.deliveryStatusNm + '</td>';
									addHtml +=		'<td>' + data.deliveryDt + '</td>';
									addHtml +=		'<td>' + data.managerNm + '</td>';
									addHtml +=		'<td>' + data.orderQty + '개</td>';
									addHtml +=		'<td>' + data.orderNo + '</td>';
									addHtml +=		'<td>' + data.receiveName + '</td>';
									fnDecrypt(data.receivePhone,function(decryptedData){
										addHtml +=	'<td>' + decryptedData + '</td>';
									});
									addHtml +=		'<td>(' + data.receivePostNum + ') '+ data.receiveAddr+ ' '+data.receiveAddrDetail+'</td>';
									addHtml +=		'<td>' + data.regDt + '</td>';
									addHtml +=	'</tr>';
								}
							} else {
								addHtml +='<tr>';
								addHtml +='<td colspan="11">검색 결과가 없습니다.</td>';
								addHtml +='</tr>';
							}
							$("#orderBody").html(addHtml);
							
							$(".page-number").remove();
							if(cnt%pageSize==0){
								cnt = Math.floor(cnt/pageSize);
							}else{
								cnt = Math.floor(cnt/pageSize)+1
							}
						
							var pageHtml = "";
							if(page != 1){
								pageHtml += '<li class="page-item page-number" style="cursor:pointer;"onclick="searchPaging(1)">';
								pageHtml += '<a class="page-link" aria-label="Previous">';
								pageHtml += '<span aria-hidden="true">&laquo;</span>';
								pageHtml += '</a>';
								pageHtml += '</li>';
							}
							for(var i=0; i<cnt; i++){
								if(i==(page-1)){
									pageHtml += '<li class="page-item page-number active" style="cursor:pointer;" onclick="searchPaging('+(i+1)+')"><a class="page-link">'+(i+1)+'</a></li>';
									$("#nowpage").val(i+1);
								} else{
									if(page == 1){
										if(i==(page) || i==(page+1) || i==(page+2) || i==(page+3)){
											pageHtml += '<li class="page-item page-number" style="cursor:pointer;" onclick="searchPaging('+(i+1)+')"><a class="page-link">'+(i+1)+'</a></li>';	
										}	
									}else if(page == 2){
										if(i==(page-2) || i==(page) || i==(page+1) || i==(page+2)){
											pageHtml += '<li class="page-item page-number" style="cursor:pointer;" onclick="searchPaging('+(i+1)+')"><a class="page-link">'+(i+1)+'</a></li>';	
										}	
									}else if(page == (cnt)){
										if(i==(page-2) || i==(page-3) || i==(page-4) || i==(page-5)){
											pageHtml += '<li class="page-item page-number" style="cursor:pointer;" onclick="searchPaging('+(i+1)+')"><a class="page-link">'+(i+1)+'</a></li>';	
										}	
									}else if(page == (cnt-1)){
										if(i==(page) || i==(page-2) || i==(page-3) || i==(page-4)){
											pageHtml += '<li class="page-item page-number" style="cursor:pointer;" onclick="searchPaging('+(i+1)+')"><a class="page-link">'+(i+1)+'</a></li>';	
										}	
									}else{
										if(i==(page-2) || i==(page-3) || i==(page) || i==(page+1)){
											pageHtml += '<li class="page-item page-number" style="cursor:pointer;" onclick="searchPaging('+(i+1)+')"><a class="page-link">'+(i+1)+'</a></li>';	
										}
									}
								}
							}
							//마지막 페이지일때 끝으로 가기 숨김
							if(cnt != 0 && page != cnt){
								pageHtml += '<li class="page-item page-number" style="cursor:pointer;" onclick="searchPaging('+ cnt +')">';
								pageHtml += '<a class="page-link" aria-label="Next">';
								pageHtml += '<span aria-hidden="true">&raquo;</span>';
								pageHtml += '</a>';
								pageHtml += '</li>';
							}
							$("#totalCount").after(pageHtml);
						}, error : function(request, status, error) {
							$.hideMask();
							alert("에러코드: " + request.status + "\n메시지: " + request.responseText);
						}
					});
				}				
				enterKey = function(type){
					if (window.event.keyCode == 13) {
						searchBtn();
					}
				}
				//리스트 전체선택
				$("#allCheck").click(function(){
					var checked = $('#allCheck').is(':checked');
					if(checked) $('input:checkbox').prop('checked',true);
					else $('input:checkbox').prop('checked',false);
				});
				//배정관리
				$("#ui_manage_btn").click(function(){
					managerList();
					$("#modalDeliv").trigger("click");
				});
				//배송완료처리
				$("#ui_deliv_btn").click(function(){
					if($('input:checkbox:checked').length < 1){
						alert("체크된 리스트가 없습니다.");
						return;
					}
					if(confirm("배송완료 처리 하시겠습니까?")){
						let checkArray = "";
						$('input:checkbox').each(function(){
							if($(this).is(":checked") == true) checkArray += $(this).val()+",";
						})
						if(checkArray.substring(checkArray.length-1, checkArray.length) == ","){
							checkArray = checkArray.substring(0,checkArray.length-1);
						}
						$.ajax({
							url : "/admin/rest/order/delivery/complete",
							type : "POST",
							dataType : "json",
							data: {
				        		checkArray	: checkArray
			        		},
							success : function(result) {
								if(result.data.resultCode == "SUCCESS") {
									alert("배송완료 처리 하였습니다.");
									$(".pagination").find(".active").trigger("click");
								} else alert("배송완료 처리에 실패하였습니다.");
							}, error : function(request, status, error) {
								alert("관리자에게 문의해 주세요.");
							}
						});
					}
				});
				fnInit();
			});
			
			//모달 리스트 전체선택
			function fnModalCheck(v_this){
				var checked = $(v_this).is(':checked');
				if(checked) $('input:checkbox[name="deliverySeq"]').prop('checked',true);
				else $('input:checkbox[name="deliverySeq"]').prop('checked',false);
			}
			//배정 하기
			function fnAction(){
				let managerNo = $('input:radio[name=managerNo]');
				if(managerNo.is(":checked") == ""){
					alert("배송할 담당자를 선택해 주세요.");
					return;
				}
				if($('input:checkbox[name="deliverySeq"]:checked').length < 1){
					alert("체크된 리스트가 없습니다.");
					return;
				}
				let checkArray = "";
				$('input:checkbox[name="deliverySeq"]').each(function(){
					if($(this).is(":checked") == true) checkArray += $(this).val()+",";
				})
				if(checkArray.substring(checkArray.length-1, checkArray.length) == ","){
					checkArray = checkArray.substring(0,checkArray.length-1);
				}
				$.ajax({
					url : "/admin/rest/order/delivery/manageAjax",
					type : "POST",
					dataType : "json",
					data: {
		        		checkArray	: checkArray,
		        		managerNo	: $('input[name=managerNo]:checked').val()
	        		},
					success : function(result) {
						if(result.data.resultCode == "SUCCESS") {
							alert("정상적으로 배정하였습니다.")
							managerList();
						}
					}, error : function(request, status, error) {
						alert("관리자에게 문의해 주세요.");
					}
				});
			}
			function managerList(){
				$.ajax({
					url : "/admin/rest/order/delivery/manageList",
					type : "POST",
					dataType : "json",
					success : function(result) {
						if(result.data.resultCode == "SUCCESS") {
							
							//배송담당자 리스트
							let innerHtml = "";
							innerHtml += "<thead class='table-light'>";
							innerHtml += 	"<tr>";
							innerHtml +=		"<th>선택</th>";
							innerHtml +=		"<th>담당자</th>";
							innerHtml +=		"<th>배정 건수</th>";
							innerHtml += 	"</tr>";
							innerHtml += "</thead>";
							for(let i = 0; i < result.data.list.length; i++){
								let list = result.data.list[i];
								innerHtml += "<tr>";
								innerHtml += 	"<td>";
								innerHtml += 		"<input class='form-check-input' name='managerNo' type='radio' value='"+list.managerNo+"' id='labelmanage"+i+"'>";
								innerHtml += 	"</td>";
								innerHtml += 	"<td>";
								innerHtml += 		"<label class='form-check-label' for='labelmanage"+i+"'>"+list.managerNm+"</label>";
								innerHtml += 	"</td>";
								innerHtml += 	"<td>";
								innerHtml += 		"<span>"+list.waitCnt+" 건</span>";
								innerHtml += 	"</td>";
								innerHtml += "</tr>";
							}
							$("#modalManage").html(innerHtml);
							
							//미배정 리스트
							let innerHtml2 = "";
							let noCnt = 0;
							innerHtml2 += "<thead class='table-light'>";
							innerHtml2 += 	"<tr>";
							innerHtml2 +=		"<th style='width:10%'><input type='checkbox' onclick='fnModalCheck(this)'></th>";
							innerHtml2 +=		"<th style='width:20%'>식단일자</th>";
							innerHtml2 +=		"<th style='width:20%'>주문번호</th>";
							innerHtml2 +=		"<th style='width:50%'>주소</th>";
							innerHtml2 += 	"</tr>";
							innerHtml2 += "</thead>";
							for(let i = 0; i < result.data.noneList.length; i++){
								let list = result.data.noneList[i];
								innerHtml2 += "<tr>";
								innerHtml2 += 	"<td>";
								innerHtml2 += 		"<input name='deliverySeq' type='checkbox' value='"+list.deliverySeq+"' id='labelcheck"+i+"'>";
								innerHtml2 += 	"</td>";
								innerHtml2 += 	"<td>";
								innerHtml2 += 		list.menuDay;
								innerHtml2 += 	"</td>";
								innerHtml2 += 	"<td>";
								innerHtml2 += 		list.orderNo;
								innerHtml2 += 	"</td>";
								innerHtml2 += 	"<td>";
								innerHtml2 += 		list.addr;
								innerHtml2 += 	"</td>";
								innerHtml2 += "</tr>";
							}
							if(result.data.noneList.length == 0){
								innerHtml2 += "<tr>";
								innerHtml2 += 	"<td colspan='4'>미배정 리스트가 없습니다.</td>";
								innerHtml2 += "</tr>";
							} else {
								noCnt = result.data.noneList[0].totalCount;
							}
							$(".noCnt").text("건수 : "+noCnt +"건");
							$("#modalManage2").html(innerHtml2);
						} else alert("관리자에게 문의해 주세요.");
						 
					}, error : function(request, status, error) {
						alert("관리자에게 문의해 주세요.");
					}
				});
			}
		</script>
	</main>
</html>