<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="description" content="밥수니반찬 관리자 페이지">
	<meta name="keywords" content="밥수니반찬 관리자 페이지">
	<title>밥수니반찬 관리자 페이지</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/bootstrap-icons.min.css">
	<link rel="stylesheet" href="/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="/css/toastr.min.css"/>
	<script src="/js/common/toastr.min.js"></script>  
	<script src="/js/common/jquery-3.6.0.min.js"></script>
	<script src="/js/common/bootstrap.bundle.min.js"></script>
	<script src="/js/common/jquery.blockUI.min.js"></script>
	<script src="/js/common/blockCommon.js"></script>
	<script src="/js/common/jQuery.serializeObject.min.js"></script>
	<script src="/js/common/bootstrap-datepicker.min.js"></script>
	<script src="/js/common/bootstrap-datepicker.ko.min.js"></script>
	<style>
		html,body {
			height: 100%;
		}
	</style>
</head>

<body>
	<th:block th:replace="~{/fragments/adminHeader :: header}"></th:block>
	<div style="display: flex;width: 100%;">
		<th:block th:replace="~{/fragments/adminSidebar :: lnb}"></th:block>
		<div style="width:100%;height: 100%;">
			<th:block layout:fragment="content"></th:block>
		</div>
	</div>
</body>
</html>