<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=yes">
	<meta name="description" content="밥수니반찬 홈페이지">
	<meta name="keywords" content="밥수니반찬 홈페이지">
	<title>밥수니반찬</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/bootstrap-icons.min.css">
	<link rel="stylesheet" href="/css/tailwind.min.css">
	<link rel="stylesheet" href="/css/all.min.css">
	<link rel="stylesheet" href="/css/slick.css">
	<link rel="stylesheet" href="/css/slick-theme.css">
	<link rel="icon" href="/images/icoLogo.jpg" type="image/jpeg">
	<script src="/js/common/jquery-3.6.0.min.js"></script>
	<script src="/js/common/bootstrap.bundle.min.js"></script>
	<script src="/js/common/jquery.blockUI.min.js"></script>
	<script src="/js/common/blockCommon.js"></script>
	<script src="/js/common/jQuery.serializeObject.min.js"></script>
	<script src="/js/common/slick-min.js"></script>
</head>
<body>
	<th:block th:replace="~{/fragments/header :: header}"></th:block>
	<th:block layout:fragment="content"></th:block>
	<th:block th:replace="~{/fragments/footer :: footer}"></th:block>
</body>
</html>