<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default_layout}">
	 <main class="content-wrapper" layout:fragment="content">
		<div class="row justify-content-center custom" style="text-align: center;min-height: 55vh;">
			<div class="col-lg-3">
				<h2 class="mb-3 text-success-emphasis">결제 완료</h2>
				<div class="alert alert-primary align-items-center mt-4 mb-4" role="alert">
					<small class="fw-bold">
						고객님의 소중한 주문 접수가 <br>완료되었습니다.<br>
						주문내역은 기입해주신 정보로<br>
						문자 및 이메일 발송될 예정입니다.<br>
						감사합니다:)<br><br>
						주문번호: [[${orderId}]]</span>
					</small>
				</div>
				<a href="/mypage/noneOrderCheck" class="btn btn-outline-primary" role="button">주문내역 확인하기</a>
			</div>
		</div>
	</main>
</html>