<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simplesoft.mapper.cart.CartMapper">

	<!-- 장바구니 등록 -->
	<insert id="insertCart" parameterType="hashMap">
		/* CartMapper.insertCart */
		INSERT INTO CART_MST
			(USER_NO, USER_SESSION, MENU_BOARD_SEQ, QTY, REG_USER, REG_DT)
		VALUES
			(#{userNo}, #{userSession}, #{menuBoardSeq}, 1, #{regUser}, NOW())
	</insert>
	
	<!-- 장바구니 수량추가 -->
	<update id="updateCartAdd" parameterType="hashMap">
		/* CartMapper.updateCartAdd */
		UPDATE CART_MST SET QTY = QTY + 1
		WHERE 1=1
		<choose>
			<when test="userNo eq 0">
				AND USER_SESSION = #{userSession}	
			</when>
			<otherwise>
				AND USER_NO = #{userNo}
			</otherwise>
		</choose>
		AND MENU_BOARD_SEQ = #{menuBoardSeq} 
	</update>
	
	<!-- 장바구니 리스트 조회 -->
	<select id="selectCartList" parameterType="hashMap" resultType="CamelHashMap">
		/* CartMapper.selectCartList */
		SELECT
			  A.CART_NO
			, A.USER_NO
			, A.USER_SESSION
			, A.MENU_BOARD_SEQ
			, A.ORDER_SET
			, A.QTY
			, A.REG_USER
			, DATE_FORMAT(A.REG_DT,'%Y-%m-%d %H:%i:%s') AS REG_DT
			, CONCAT(DATE_FORMAT(B.MENU_DAY,'%Y-%m-%d'),' (',
				CASE DAYOFWEEK(B.MENU_DAY) 
				WHEN '2' THEN '월'
				WHEN '3' THEN '화'
				WHEN '4' THEN '수'
				WHEN '5' THEN '목'
				WHEN '6' THEN '금'
				END
			,')') MENU_DAY
			, B.MENU_MSG
		FROM CART_MST A
		INNER JOIN MENU_BOARD B on A.MENU_BOARD_SEQ = B.MENU_BOARD_SEQ
		WHERE 1=1
		<choose>
			<when test="userNo eq 0">
				AND USER_SESSION = #{userSession}	
			</when>
			<otherwise>
				AND USER_NO = #{userNo}
			</otherwise>
		</choose>
		<if test="menuBoardSeq != '' and menuBoardSeq != null">
			AND A.MENU_BOARD_SEQ = #{menuBoardSeq}
		</if>
		ORDER BY B.MENU_DAY
	</select>
	
	<!-- 장바구니 리스트 상세조회 -->
	<select id="selectCartDetail" parameterType="hashMap" resultType="CamelHashMap">
		/* CartMapper.selectCartDetail */
		SELECT
			  A.CART_NO
			, A.USER_NO
			, A.USER_SESSION
			, A.MENU_BOARD_SEQ
			, A.QTY
			, A.REG_USER
			, DATE_FORMAT(A.REG_DT,'%Y-%m-%d %H:%i:%s') AS REG_DT
			, CONCAT(DATE_FORMAT(B.MENU_DAY,'%Y-%m-%d'),' (',
				CASE DAYOFWEEK(B.MENU_DAY) 
				WHEN '2' THEN '월'
				WHEN '3' THEN '화'
				WHEN '4' THEN '수'
				WHEN '5' THEN '목'
				WHEN '6' THEN '금'
				END
			,')') MENU_DAY
			, B.MENU_MSG
		FROM CART_MST A
		INNER JOIN MENU_BOARD B on A.MENU_BOARD_SEQ = B.MENU_BOARD_SEQ
		WHERE 1=1
		<choose>
			<when test="userNo eq 0">
				AND USER_SESSION = #{userSession}	
			</when>
			<otherwise>
				AND USER_NO = #{userNo}
			</otherwise>
		</choose>
		<if test="menuBoardSeq != '' and menuBoardSeq != null">
			AND A.MENU_BOARD_SEQ = #{menuBoardSeq}
		</if>
		AND CART_NO = #{cartNo}
	</select>
	
	<!-- 장바구니 수량 변경 -->
	<update id="updateCartQty" parameterType="hashMap">
		/* CartMapper.updateCartQty */
		UPDATE CART_MST SET
		<choose>
			<when test="gubun == 'plus'">
				QTY = QTY + 1
			</when>
			<otherwise>
				QTY = QTY - 1
			</otherwise>
		</choose> 
		WHERE CART_NO = #{cartNo}
	</update>
	<!-- 장바구니 세트 변경 -->
	<update id="updateCartOrderSet" parameterType="hashMap">
		/* CartMapper.updateCartOrderSet */
		UPDATE CART_MST SET
		ORDER_SET = #{orderSet}
		WHERE CART_NO = #{cartNo}
	</update>
	
	<!-- 장바구니 리스트 삭제 -->
	<delete id="deleteCart" parameterType="hashMap">
		/* CartMapper.deleteCart */
		DELETE FROM CART_MST
		WHERE CART_NO IN
		<foreach collection="arrCartNo" item="item" index="index" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	<!-- 결제할 장바구니 조회 -->
	<select id="selectOrderCartShop" parameterType="hashMap" resultType="CamelHashMap">
		/*CartMapper.selectOrderCartShop*/
		SELECT
			  A.CART_NO
			, A.USER_NO
			, A.USER_SESSION
			, A.MENU_BOARD_SEQ
			, A.QTY
			, A.REG_USER
			, DATE_FORMAT(A.REG_DT,'%Y-%m-%d %H:%i:%s') AS REG_DT
			, CONCAT(DATE_FORMAT(B.MENU_DAY,'%Y-%m-%d'),' (',
				CASE DAYOFWEEK(B.MENU_DAY) 
				WHEN '2' THEN '월'
				WHEN '3' THEN '화'
				WHEN '4' THEN '수'
				WHEN '5' THEN '목'
				WHEN '6' THEN '금'
				END
			,')') MENU_DAY
			, B.MENU_MSG
		FROM CART_MST A
		INNER JOIN MENU_BOARD B on A.MENU_BOARD_SEQ = B.MENU_BOARD_SEQ
		WHERE 1=1
		<choose>
			<when test="userNo eq 0">
				AND A.USER_SESSION = #{userSession}	
			</when>
			<otherwise>
				AND A.USER_NO = #{userNo}
			</otherwise>
		</choose>
		<if test="cartList neq null and cartList.length > 0">
			AND A.CART_NO IN
			<foreach collection="cartList" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		ORDER BY B.MENU_DAY
	</select>
</mapper>