<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simplesoft.mapper.member.MemberMapper">

	<!-- 회원 등록 -->
	<insert id="insertMember" parameterType="com.simplesoft.member.service.MemberVO">
		/* MemberMapper.insertMember */
		INSERT INTO USER_MST
		(USER_ID, USER_PW, USER_NM, USER_EMAIL, USER_MOBILE, ZIPCODE, ADDRESS, ADDRESS_DETAIL, LAST_LOGIN_DT, REG_USER, REG_DT)
		VALUES(
			  #{userId}
			, #{userPw}
			, #{userNm}
			, #{userEmail}
			, #{userMobile}
			, #{zipcode}
			, #{address}
			, #{addressDetail}
			, SYSDATE()
			, #{userId}
			, SYSDATE()
		);
	</insert>
	
	<!-- 회원 리스트 조회 -->
	<select id="selectMemberList" parameterType="hashMap" resultType="CamelHashMap">
		/* MemberMapper.selectMemberList */
		SELECT 
			  A.USER_NO
			, A.USER_ID
			, A.USER_PW
			, A.USER_NM
			, A.USER_EMAIL
			, A.USER_TEL
			, A.USER_MOBILE
			, A.ZIPCODE
			, A.ADDRESS
			, A.ADDRESS_DETAIL
			, A.PW_CHANGE_DT
			, A.LAST_LOGIN_DT
			, A.REG_USER
			, DATE_FORMAT(A.REG_DT,'%Y-%m-%d %H:%i:%s') AS REG_DT
			, A.UPT_USER
			, DATE_FORMAT(A.UPT_DT,'%Y-%m-%d %H:%i:%s') AS UPT_DT
		FROM USER_MST A
		WHERE 1=1
		<if test="userNo neq null and userNo neq ''">
			AND USER_NO = #{userNo}
		</if>
		AND USER_STATUS = '1000' 
	</select>
	
	<!-- 회원 리스트 상세조회 -->
	<select id="selectMemberDetail" parameterType="com.simplesoft.member.service.MemberVO" resultType="com.simplesoft.member.service.MemberVO">
		/* MemberMapper.selectMemberDetail */
		SELECT 
			  A.USER_NO
			, A.USER_ID
			, A.USER_PW
			, A.USER_NM
			, A.USER_EMAIL
			, A.USER_TEL
			, A.USER_MOBILE
			, A.ZIPCODE
			, A.ADDRESS
			, A.ADDRESS_DETAIL
			, A.PW_CHANGE_DT
			, A.LAST_LOGIN_DT
			, A.USER_STATUS
			, A.REG_USER
			, DATE_FORMAT(A.REG_DT,'%Y-%m-%d %H:%i:%s') AS REG_DT
			, A.UPT_USER
			, DATE_FORMAT(A.UPT_DT,'%Y-%m-%d %H:%i:%s') AS UPT_DT
		FROM USER_MST A
		WHERE USER_ID = #{userId}
		AND USER_STATUS = '1000'
	</select>
	
	<!-- 회원 ID 중복 체크-->
	<select id="selectIdCheck" parameterType="com.simplesoft.member.service.MemberVO" resultType="CamelHashMap">
		/* MemberMapper.selectIdCheck */
		SELECT 
			  COUNT(*) AS TOT_CNT
		FROM USER_MST
		WHERE USER_ID = #{userId}
		AND USER_STATUS = '1000'	
	</select>
</mapper>