<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/mypage_layout}">
		<main class="content-wrapper" layout:fragment="content">
			<script src="https://js.tosspayments.com/v2/standard"></script>
			<style>
				.content-container {
					max-width: 800px;
					min-height: 53vh;
					margin: 0 auto;
				}
				.content-container-hedaer {
					max-width: 1200px;
					margin: 0 auto;
				}
			</style>
			<div class="content-container-hedaer justify-content-center text-center">
				<th:block th:replace="fragments/mypageTabs :: mypageTabs(${activeMenu})"></th:block>
			</div>
			<div class="content-container justify-content-center text-center">
				
				<th:block th:if="${session.memberInfo == null}">
					<div class="rounded-lg p-4 h-90 overflow-y-auto text-sm text-gray-700 leading-relaxed mb-5">
						<div class="gap-3 bg-gray-50 border border-gray-200 rounded-lg p-4 mb-6">
							<p class="text-lg font-bold mb-2">비밀번호 확인</p>
							<p class="text-sm leading-relaxed">
								<strong class="text-gray-500">회원정보 보호을 위해 고객님의 본인 확인 절차가 필요하며,<br>비밀번호 입력을 부탁드립니다.</strong>
							</p>
						</div>
						<!-- 비밀번호 -->
						<div class="mb-4">
							<label for="pwd" class="block mb-2 text-sm font-bold text-gray-700 text-start">비밀번호 확인<font color="red"> *</font></label>
							<input type="password" name="pwd" id="pwd" autofocus placeholder="비밀번호를 입력해 주세요." maxlength="20" onkeypress="enterKey()"
								class="w-full px-4 py-3 border border-gray-300 text-lg rounded focus:outline-none focus:ring-2 focus:ring-gray-400 focus:border-transparent">
						</div>
						<!-- 로그인 버튼 -->
						<button type="button" class="w-full py-3 font-bold text-white bg-black rounded hover:bg-gray-800 transition-colors" onclick="fnLogin()">
							확인
						</button>
					</div>
				</th:block>
				<th:block th:if="${session.memberInfo != null}">
					<div class="bg-white rounded-2xl card-shadow p-10">
					
						<h3 class="text-lg font-semibold text-gray-700 text-center mb-8">
							내 카드 관리
						</h3>
						
						<div class="max-w-3xl mx-auto bg-white min-h-full">
							<!-- 카드 리스트 -->
							<div class="divide-y">
								<!-- 카드 아이템 -->
								<div class="flex items-center justify-between p-4">
									<div class="flex items-center gap-3">
										<div class="w-12 h-8 bg-gray-200 rounded"></div>
										<div>
											<p class="font-semibold">삼성 iD SELECT ALL 카드</p>
											<p class="text-sm text-gray-500">삼성카드 2911</p>
										</div>
									</div>
									<div class="flex gap-2">
										<button class="px-3 py-1 text-sm border rounded">삭제</button>
										<button class="px-3 py-1 text-sm border rounded">수정</butt>
									</div>
								</div>
								<div class="flex items-center justify-between p-4 bg-gray-100">
									<div class="flex items-center gap-3">
										<div class="w-12 h-8 bg-gray-400 rounded"></div>
										<div>
											<p class="font-semibold">KB국민 나라사랑체크카드(일반형 RF)</p>
											<p class="text-sm text-gray-500">국민카드 8073</p>
										</div>
									</div>
									<div class="flex gap-2">
										<button class="px-3 py-1 text-sm border rounded">삭제</button>
										<button class="px-3 py-1 text-sm border rounded">수정</button>
									</div>
								</div>
							</div>
						</div>
						<div class="p-4 mt-4">
							<button type="button" onclick="requestBillingAuth()" class="w-full py-4 bg-green-500 text-white rounded-xl font-semibold">
								카드 등록
							</button>
						</div>
					</div>
				</th:block>
			</div>
			
			<script th:inline="javascript">
				// ------  SDK 초기화 ------
				// @docs https://docs.tosspayments.com/sdk/v2/js#토스페이먼츠-초기화
				const apiClientKey = /*[[${apiClientKey}]]*/"";
				const customerKey = generateRandomString();
				const tossPayments = TossPayments(apiClientKey);
				// 회원 결제
				// @docs https://docs.tosspayments.com/sdk/v2/js#tosspaymentspayment
				const payment = tossPayments.payment({ customerKey });
				// ------ '카드 등록하기' 버튼 누르면 결제창 띄우기 ------
				// @docs https://docs.tosspayments.com/sdk/v2/js#paymentrequestpayment
				async function requestBillingAuth() {
					await payment.requestBillingAuth({
						method: "CARD", // 자동결제(빌링)는 카드만 지원합니다
						successUrl: window.location.origin + "/success", // 요청이 성공하면 리다이렉트되는 URL
						failUrl: window.location.origin + "/fail", // 요청이 실패하면 리다이렉트되는 URL
						customerEmail: "customer123@gmail.com",
						customerName: "김토스",
					});
				}
				
				function generateRandomString() {
					return window.btoa(Math.random()).slice(0, 20);
				}				
			</script>

		</main>
</html>