<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/mypage_layout}">
		<main class="" layout:fragment="content" style="padding: 10px;">
			<style>
				/* 데스크탑 (해상도 1280px 이상) */
				@media all and (min-width: 1280px) {
					/* 데스크탑 전용 스타일 */
					.box2 {
						width: 300px;
						font-size: 24px;
						padding: 20px;
						border-right: 1px solid #ddd;
					}
					.d-flex {
						min-height: 55vh;
					}
					.spanClass{
						margin-right: 7px;
					}
				}
				
				/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px) */
				@media all and (min-width: 1024px) and (max-width: 1279px) {
				  /* 노트북 및 가로 방향 태블릿 스타일 */
				}
				
				/* 테블릿 가로 (해상도 768px ~ 1023px) */
				@media all and (min-width: 768px) and (max-width: 1023px) {
				  /* 태블릿 가로 스타일 */
				}
				
				/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px) */
				@media all and (min-width: 480px) and (max-width: 767px) {
				  /* 모바일 가로 또는 태블릿 세로 스타일 */
				}
				
				/* 모바일 세로 (해상도 ~ 479px) */
				@media all and (max-width: 479px) {
					.box2 {
						width: 80px;
						font-size: 10px;
						padding: 5px;
						border-right: 1px solid #ddd;
					}
					.fs-5 {
						font-size: 0.5rem !important;
					}
					.d-flex {
						min-height: 55vh;
					}
					.spanClass{
						margin-right: 2px;
					}
					.btn25{
						width: 80px;
						font-size: 10px;
					}
					.fs-4{
						font-size: 0.9rem !important;
					}
				}
				.box2 {
					background-color: #f8f9fa;
					font-weight: bold;
					text-align: center;
				}
			</style>
			<div class="d-flex">
				<!-- 왼쪽 고정 마이페이지 영역 -->
				<div class="box2 d-flex align-items-center justify-content-center">비회원 주문내역</div>
				<!-- 오른쪽 주문 정보 영역 -->
				<div class="flex-grow-1 overflow-auto">
					<div class="d-flex flex-column h-95">
						<div class="container-fluid ps-0">
							<div class="card shadow-sm rounded-4 border-0 h-95">
								<div class="col-10 fw-semibold ms-2 mt-2 fs-4" th:text="'주문일자: ' + ${order.orderPayDt.substring(0, 10)}"></div>
								<th:block th:if="${order.orderStatus == '0001'}">
									<div class="col-10 fw-semibold mb-2 ms-2 fs-4" style="text-decoration: line-through; color: red;" th:text="'주문번호: ' + ${order.orderNo}"></div>
									<span class="col-10 fw-semibold mb-2 ms-2" style="color: red;">결제 취소된 주문입니다.</span>	
								</th:block>
								<th:block th:if="${order.orderStatus == '0000'}">
									<div class="col-10 fw-semibold mb-2 ms-2 mt-2 fs-4" th:text="'주문번호: ' + ${order.orderNo}"></div>
								</th:block>
								<!-- 헤더 -->
								<div class="bg-light border-bottom rounded-top-4">
									<div class="row text-center fw-semibold py-3 gx-0">
										<div class="col-4 fs-5">상품명</div>
										<div class="col-2 fs-5">수량</div>
										<div class="col-2 fs-5">주문금액</div>
										<div class="col-2 fs-5">배송상태</div>
									</div>
								</div>
								<!-- 데이터 영역 -->
								<th:block th:each="rs,rsStat : ${order.productList}">
									<div class="bg-white overflow-auto">
										<div class="row text-center align-items-center border-bottom py-3 gx-0">
											<div class="col-4 fs-5 text-start ms-3">
												<span th:text="${rs.menuDay.substring(0,4)} + '.' + ${rs.menuDay.substring(4,6)} + '.' + ${rs.menuDay.substring(6,8)}"></span><br>
												<th:block th:if="${rs.orderSet == '1000'}">
													<th:block th:each="msg,msgStat : ${#strings.setSplit(rs.menuMsg,'|')}">
														<th:block th:if="${#strings.substring(msg,0,1) == '!'}">
															<span style="color:red;" th:text="${#strings.substring(msg,1)}"></span>
															<span th:text="'('+${#strings.arraySplit(rs.menuMsgDetail ?: '', '|')[msgStat.index]}+'개)'"></span>
														</th:block>
														<th:block th:if="${#strings.substring(msg,0,1) != '!'}">
															<span th:text="${msg}"></span>
															<span th:text="'('+${#strings.arraySplit(rs.menuMsgDetail ?: '', '|')[msgStat.index]}+'개)'"></span>
														</th:block>
														<th:block th:if="${msgStat.last == false}"><br></th:block>
													</th:block>
												</th:block>
												<th:block th:if="${rs.orderSet == '2000' || rs.orderSet == '3000'}">
													<th:block th:each="msg,msgStat : ${#strings.setSplit(rs.menuMsg,'|')}">
														<th:block th:if="${#strings.substring(msg,0,1) == '!'}">
															<span class="spanClass"style="color:red;" th:text="${#strings.substring(msg,1)}"></span>
														</th:block>
														<th:block th:if="${#strings.substring(msg,0,1) != '!'}">
															<span class="spanClass" th:text="${msg}"></span>
														</th:block>
														<th:block th:if="${msgStat.count % 3 == 0}"><br></th:block>
													</th:block>
												</th:block>
											</div>
											<div class="col-2 fs-5" th:text="${rs.orderQty} + '개'"></div>
											<div class="col-2 fs-5" th:text="${#numbers.formatInteger(rs.payAmt,3,'COMMA')} + '원'"></div>
											<div th:if="${rs.deliveryStatus == '1000'}" class="col-2 text-success fs-5">배송전</div>
											<div th:if="${rs.deliveryStatus == '0000'}" class="col-2 text-success fs-5">배송완료</div>
										</div>
									</div>
								</th:block>
								<div th:if="${order.delivKind != '2000' && order.totalDelyAmt > 0}" class="col-10 fw-semibold ms-2 mt-2 fs-4" th:text="'배송비: '+${#numbers.formatInteger(order.totalDelyAmt,3,'COMMA')} +'원'"></div>
								<div th:if="${order.delivKind == '2000'}" class="col-10 fw-semibold ms-2 mt-2 fs-4" th:text="'우체국택배: 4,000원'"></div>
								<div th:if="${order.packaging == '1000'}" class="col-10 fw-semibold ms-2 mt-2 fs-4" th:text="'보냉가방(신규) 보증금 : 5,000원'"></div>
								<div class="col-10 fw-semibold ms-2 mt-2 fs-4" th:text="'총 주문 금액: ' +${#numbers.formatInteger(order.totalAmount,3,'COMMA')} +'원'"></div>
										
								<!-- 주문 상태가 '0000'이고 결제일이 당일이며, 차단 조건에 해당하지 않는 경우 - 주문 취소 -->
								<div class="text-center mt-2" th:if="${order.orderStatus == '0000' and #strings.substring(order.orderPayDt, 0, 10) == #dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
									<button class="btn btn-outline-danger btn-lg ms-1 btn25" type="button" onclick="fnPayCancel()">주문 취소</button>
								</div>
								<!-- 주문 상태가 '0000'이고 결제일이 당일을 지났으며, 차단 조건에 해당하지 않는 경우 - 환불 신청 -->
								<div class="text-center mt-2" th:if="${order.orderStatus == '0000' and #strings.substring(order.orderPayDt, 0, 10) < #dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
									<button class="btn btn-outline-danger btn-lg ms-1 btn25" type="button" onclick="fnRefundRequest()">환불 신청</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script th:inline="javascript">
				
				
				//결제 취소
				function fnPayCancel(){
					
					let check = fnCommonBlock();
					if (check) {
						alert("익일 배송 물량 준비 확정으로 인해 익일 배송건 결제에 대해서는\n오후 4시 이후로는 주문 취소가 불가능합니다. \n양해 부탁드립니다. 부득이한 사정의 경우,\n‘카카오톡 채널’로 문의해주세요.");
						return;
					}
					if(!confirm("주문 취소 하시겠습니까?")) return;
					let paymentKey = $("#p_paymentKey").val();
					let orderNo = /*[[${order.orderNo}]]*/ "";
					if(orderNo == ""){
						alert("잠시 후에 다시 시도해 주세요.");
						return;
					}
					let formData = {
						orderNo : orderNo
					}
					$.showMask();
					$.ajax({
						url : "/rest/order/payCancelAjax",
						type : "POST",
						dataType : "json",
						data : formData,
						success : function(result) {
							$.hideMask();
							if(result.data.code){
								alert(result.data.message)	
							} else {
								alert('결제 취소되었습니다.')
								location.reload();
							}
						}, error : function(request, status, error) {
							$.hideMask();
							alert("관리자에게 문의해 주세요.");
						}
					});
				}
				
				//환불신청
				function fnRefundRequest(){
					let check = fnCommonBlock();
					if (check) {
						alert("익일 배송 물량 준비 확정으로 인해 익일 배송건 결제에 대해서는\n오후 4시 이후로는 주문 취소가 불가능합니다. \n양해 부탁드립니다. 부득이한 사정의 경우,\n‘카카오톡 채널’로 문의해주세요.");
						return;
					} else {
						//환불신청로직
						console.log('환불신청로직');
					}
				}
				
				//상품 중에 현재 시간 기준 내일 날짜인 상품이 있는지 체크(전날 오후 4시 이전까지만 취소가능)
				function fnCommonBlock(){
					let productList = /*[[${order.productList}]]*/ "";
					
					// 현재 시간
    				const now = new Date();
    				const currentHour = now.getHours();
    
					// 내일 날짜를 YYYYMMDD 형식으로 구하기
					const tomorrow = new Date();
					tomorrow.setDate(tomorrow.getDate() + 1);
					const tomorrowStr = tomorrow.getFullYear().toString() + 
										(tomorrow.getMonth() + 1).toString().padStart(2, '0') + 
										tomorrow.getDate().toString().padStart(2, '0');
										
					//console.log('내일 날짜:', tomorrowStr);
				    //console.log('현재 시간:', currentHour + '시');
				    
				    // 내일 배송 상품이 있는지 체크
				    const hasTomorrowItems = productList.some(item => item.menuDay === tomorrowStr);
				    
				    // 오후 4시(16시) 이후인지 체크
				    const isAfter4PM = currentHour >= 16;
				    
				    // 내일 배송 상품이 있고 오후 4시 이후라면 true 반환
				    return hasTomorrowItems && isAfter4PM;
				}
			</script>
		</main>
</html>