<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/mypage_layout}">
		<main class="" layout:fragment="content" style="padding: 10px;">
			<style>
				.box2 {
					width: 300px;
					background-color: #f8f9fa;
					font-size: 24px;
					font-weight: bold;
					text-align: center;
					padding: 20px;
					border-right: 1px solid #ddd;
				}
			</style>
			<div class="d-flex" style="min-height: 55vh;">
				<!-- 왼쪽 고정 마이페이지 영역 -->
				<div class="box2 d-flex align-items-center justify-content-center">비회원 주문내역</div>
				<!-- 오른쪽 주문 정보 영역 -->
				<div class="flex-grow-1 overflow-auto">
					<div class="d-flex flex-column h-95">
						<div class="container-fluid ps-0">
							<div class="card shadow-sm rounded-4 border-0 h-95">
								<div class="col-2 fs-5 fw-semibold mb-2 ms-2 mt-2" th:text="'주문번호: ' + ${order.orderNo}"></div>
								<!-- 헤더 -->
								<div class="bg-light border-bottom rounded-top-4">
									<div class="row text-center fw-semibold py-3 gx-0">
										<div class="col-2 fs-5">주문일자</div>
										<div class="col-4 fs-5">상품명</div>
										<div class="col-1 fs-5">상품수량</div>
										<div class="col-1 fs-5">주문금액</div>
										<div class="col-1 fs-5">입금상태</div>
										<div class="col-1 fs-5">배송상태</div>
									</div>
								</div>
								<!-- 데이터 영역 -->
								<th:bolck th:each="rs,rsStat : ${order.productList}">
									<div class="bg-white overflow-auto">
										<div class="row text-center align-items-center border-bottom py-3 gx-0">
											<div class="col-2 fs-5" th:text="${order.orderPayDt.substring(0, 10)}"></div>
											<div class="col-4 fs-5 text-start">
												<span th:text="${rs.menuDay.substring(0,4)} + '.' + ${rs.menuDay.substring(4,6)} + '.' + ${rs.menuDay.substring(6,8)}"></span><br>
												<th:block th:if="${rs.orderSet == '1000'}">
													<th:block th:each="msg,msgStat : ${#strings.setSplit(rs.menuMsg,'|')}">
														<th:block th:if="${#strings.substring(msg,0,1) == '!'}">
															<span style="color:red;" th:text="${#strings.substring(msg,1)}"></span>
															<span th:text="'('+${#strings.arraySplit(rs.menuMsgDetail ?: '', '|')[msgStat.index]}+'개)'"></span>
														</th:block>
														<th:block th:if="${#strings.substring(msg,0,1) != '!'}">
															<span th:text="${msg}"></span>
															<span th:text="'('+${#strings.arraySplit(rs.menuMsgDetail ?: '', '|')[msgStat.index]}+'개)'"></span>
														</th:block>
														<th:block th:if="${msgStat.last == false}"><br></th:block>
													</th:block>
												</th:block>
												<th:block th:if="${rs.orderSet == '2000' || rs.orderSet == '3000'}">
													<th:block th:each="msg,msgStat : ${#strings.setSplit(rs.menuMsg,'|')}">
														<th:block th:if="${#strings.substring(msg,0,1) == '!'}">
															<span style="color:red;margin-right:7px;" th:text="${#strings.substring(msg,1)}"></span>
														</th:block>
														<th:block th:if="${#strings.substring(msg,0,1) != '!'}">
															<span style="margin-right:7px;" th:text="${msg}"></span>
														</th:block>
														<th:block th:if="${msgStat.count % 3 == 0}"><br></th:block>
													</th:block>
												</th:block>
											</div>
											<div class="col-1 fs-5" th:text="${rs.orderQty} + '개'"></div>
											<div class="col-1 fs-5" th:text="${#numbers.formatInteger(rs.payAmt,3,'COMMA')} + '원'"></div>
											<div class="col-1 text-success fs-5">완료</div>
											<th:block th:if="${rs.deliveryStatus == '1000'}">
												<div class="col-1 text-success fs-5">배송전</div>
											</th:block>
											<th:block th:if="${rs.deliveryStatus == '0000'}">
												<div class="col-1 text-success fs-5">배송완료</div>
											</th:block>
										</div>
									</div>
								</th:bolck>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
</html>