<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/mypage_layout}">
		<main class="" layout:fragment="content" style="padding: 10px;">
			<div class="flex flex-col md:flex-row md:items-center md:justify-between mb-6">
				<div class="flex-1">
					<div class="flex items-center justify-between mb-2">
						<h2 class="text-2xl font-bold text-gray-800">주문 내역</h2>
					</div>
				</div>
			</div>
		</main>
</html>