<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default_layout}">
	<main id="wrap" layout:fragment="content">
		<h2> 결제 실패 </h2>
		<p id="code"></p>
		<p id="message"></p>
	<script>
			const urlParams = new URLSearchParams(window.location.search);
			const codeElement = document.getElementById("code");
			const messageElement = document.getElementById("message");
			codeElement.textContent = "에러코드: " + urlParams.get("code");
			messageElement.textContent = "실패 사유: " + urlParams.get("message");
    </script>
	
	</main>
</html>