@media all and (max-width: 479px) {
	.custom{
		font-size: 8px !important;
	}
	.fs-5, .fs-3 {
		font-size: 8px !important;
	}
	.input15 {
		height: 30px;
		width:20% !important;
		font-size: 8px;
	}
	.input25 {
		height: 30px;
		width:50% !important;
		font-size: 8px;
	}
	.input50 {
		height: 30px;
		width:75% !important;
		font-size: 8px;
	}
	.btn25 {
		height: 30px;
		width:25% !important;
		font-size: 8px;
	}
	.font-sm {
		font-size: 8px;
	}
	.spanClass{
		margin-right: 2px;
	}
}
@media all and (min-width: 480px) and (max-width: 767px) {
	.custom{
		font-size: 8px !important;
	}
	.fs-5, .fs-3 {
		font-size: 8px !important;
	}
	.input15 {
		height: 30px;
		width:20% !important;
		font-size: 8px;
	}
	.input25 {
		height: 30px;
		width:50% !important;
		font-size: 8px;
	}
	.input50 {
		height: 30px;
		width:75% !important;
		font-size: 8px;
	}
	.btn25 {
		height: 30px;
		width:25% !important;
		font-size: 8px;
	}
	.font-sm {
		font-size: 8px;
	}
	.spanClass{
		margin-right: 2px;
	}
}
@media all and (min-width: 768px) and (max-width: 1023px) {
	.custom{
		font-size: 11px !important;
	}
	.fs-5, .fs-3 {
		font-size: 11px !important;
	}
	.input15 {
		height: 30px;
		width:20% !important;
		font-size: 11px;
	}
	.input25 {
		height: 30px;
		width:50% !important;
		font-size: 11px;
	}
	.input50 {
		height: 30px;
		width:75% !important;
		font-size: 11px;
	}
	.btn25 {
		height: 30px;
		width:25% !important;
		font-size: 11px;
	}
	.font-sm {
		font-size: 11px;
	}
	.spanClass{
		margin-right: 7px;
	}
}
@media all and (min-width: 1024px) and (max-width: 1279px) {
	.custom{
		font-size: 12px !important;
	}
	.col-lg-3 {
		flex: 0 0 auto;
		width: 80%;
	}
	.font-sm {
		font-size: 12px;
	}
	.spanClass{
		margin-right: 7px;
	}
}

@media all and (min-width: 1280px) {
	.custom{
		font-size: 16px !important;
	}
	.col-lg-3 {
		flex: 0 0 auto;
		width: 80%;
	}
	.font-sm {
		font-size: 14px;
	}
	.spanClass{
		margin-right: 7px;
	}
}
.colorred {
	color:red;
}