<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="footer" style="background-color:#464646;">
		<style>
			.footerInfo {
				display:flex;
				font-size: 13px;
			}
			.footerTitle {
				padding:29px 0 0;
				border-bottom: 1px solid #999;
				height:80px;
			}
			.no-underline {
				text-decoration: none !important;
			}
		</style>
		<div class="footerInfo fw-semibold mt-1 container">
			<div class="mt-1 me-1">
				<a href="#">
					<img src="/image/footerLogo2.jpg" width="200px" alt="밥수니반찬헤더로고">
				</a>
			</div>
			<div style="width:-webkit-fill-available;">
				<div class="footerTitle">
					<ul class="nav justify-content-start">
						<li class="nav-item2 me-5"><a href="#">회사소개</a></li>
						<li class="nav-item2 me-5"><a href="#">이용약관</a></li>
						<li class="nav-item2 me-5"><a href="#">개인정보처리방침</a></li>
						<li class="nav-item2 me-5"><a href="#">고객센터</a></li>
					</ul>
				</div>
				<div class="text-light" style="padding:29px 0 30px;">
					<span style="display:block;">대표자 : 박갑순, 사업자등록번호 : 399-19-01352, 대표번호 : 0507-1316-5536</span>
					<span style="display:block;">주소 : 경기도 안산시 단원구 신촌5길 28, 1층일부(102호)(초지동)</span>
					<address style="color:#999;">Copyright 2025 밥수니반찬 all rights reserved.</address>
				</div>
			</div>
		</div>
	</div>
</html>