<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<th:block th:fragment="header">
		<!-- Header (s) -->
		<div id="wrap" class="mb-5">
			<div class="header" style="background-color: rgb(51, 51, 51); text-align: center;" >
				<img src="/image/banner.jpg">
			</div>
			
			<div id="submenu" class="submenu">
				<div class="header_logo"><a href="/main"><img src="/image/logo.jpg" alt="밥수니반찬헤더로고"></a></div>
				<ul class="nav container">
					<li class="nav-item">
						<a href="/order" class="nav-link">주문하기</a>
					</li>
					<li class="nav-item">
						<a href="/foodtable" class="nav-link">이달의식단</a>
					<li class="nav-item">
						<a href="#" class="nav-link">밥수니반찬</a>
					</li>
					<li class="nav-item">
						<a href="/cart" class="nav-link">장바구니</a>
					</li>
					<li class="nav-item">
						<a href="/mypage/noneOrderCheck" class="nav-link">비회원주문조회</a>
					</li>
				</ul>
			</div>
		</div>
	<!-- (e) Header -->
	</th:block>
</html>