@charset 'UTF-8';


body { font-family:'SUIT', 'Dotum', 'sans-serif'; font-weight:500; font-size:16px; color:#252525; letter-spacing:-0.025em; }

:focus { outline:none; }

/* common
====================== */
.blind { position:absolute !important; width:1px !important; height:1px !important; color:transparent !important; overflow:hidden !important; clip:rect(1px 1px 1px 1px); /* IE6, IE7 */ clip:rect(1px, 1px,1px, 1px); clip-path:inset(50%); }

.tal { text-align:left !important; }
.tac { text-align:center !important; }
.tar { text-align:right !important; }

.vat { vertical-align:top !important; }
.vab { vertical-align:bottom !important; }

.fc-primary { color:#0072bc !important; }

/* title */
.tit-d1 { display:block; font-weight:300; font-size:80px; text-align:center; }
.tit-d2 { display:block; font-size:44px; font-weight:500; text-align:center; color:#000; }
.tit-d3 { display:block; font-size:36px; font-weight:700; color:#000; }
.tit-d4 { display:block; font-size:27px; font-weight:700; color:#000; }
.tit-sub { display:block; font-size:36px; font-weight:700; text-align:center; color:#996cad; }
.desc-d1 { display:block; font-size:24px; font-weight:300; text-align:center; }
.desc-d1:before { display:block; width:40px; height:2px; background:#fff; margin:25px auto 35px; content:""; }
.desc-d2 { display:block; margin-top:5px; font-size:20px; font-weight:500; color:#555; text-align:center; }

/* button */
[class*="btn-"]:hover { text-decoration:none; }
.btn-area { margin:40px 0 0; }
.btn-base { z-index:0; display:inline-block; transition:all .3s ease-in-out; text-decoration:none; }
.btn-base.primary { color:#fff; }
.btn-base.primary:before { opacity:0; }
.btn-base.primary:hover { background:linear-gradient(-135deg, #0072bc 0%, #00b49d 100%); }
.btn-base .ico-arr { margin:-4px 0 0 5px; }
.btn-base .ico-download { margin:-4px 0 0 4px; }
.btn-base.type2 { padding:0 55px; height:70px; line-height:70px; border-radius:35px; background:#7FD4B7; color:#fff; font-weight:700; font-size:24px; text-align:center; }
.btn-base.type2 strong { color:#fffc00; }
.btn-base.type2:hover { background:#68c0a3}

.btn-menu { position:relative; display:inline-block; width:30px; height:30px; }
.btn-menu:before,
.btn-menu:after { position:absolute; left:12%; display:block; width:75%; height:2px; background:#252525; transition:all ease-in-out .25s; content:""; }
.btn-menu:before { top:19%; }
.btn-menu:after { top:74%; width:40%; left:44%; }
.btn-menu span { position:absolute; overflow:hidden; top:50%; right:15%; display:block; width:60%; height:2px; background:#252525; color:transparent; margin-top:-1px; transition:all ease-in-out .25s; }

.btn-search { display:inline-block; width:45px; height:50px; background:url('../img/ico_search.png') center center/auto auto no-repeat; }

/* table */
.tbl-base { border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8;}
.tbl-base > table { width:100%; }
.tbl-base th { padding:5px 10px; background:#f9f9f9; font-size:14px; font-weight:400; text-align:center; vertical-align:middle; border-left:1px solid #d8d8d8; border-right:1px solid #d8d8d8; word-break:break-all;}
.tbl-base td { padding:5px 14px; font-size:14px; font-weight:400; text-align:center; vertical-align:middle; border-left:1px solid #d8d8d8; border-right:1px solid #d8d8d8;  word-break:break-all;}
.tbl-base td:first-child { border-left:0; }
.tbl-base td:last-child { border-right:0; }
.tbl-base thead th { color:#232323; }
.tbl-base tbody th { color:#454545; }
.tbl-base tr:first-child td { padding-top:15px; }
.tbl-base tr:last-child td { padding-bottom:15px; }
.tbl-base th.th-cross { background:#F3F3F3 !important; }
.tbl-base a:hover { text-decoration:underline; }

textarea { resize:none; }
textarea.inp { line-height:1.4em; }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance:none; margin:0; }
.inp { display:inline-block; vertical-align:middle; min-height:50px; padding:0 15px; background:#fff; font-size:18px; border-radius:25px; box-shadow: 0 5px 7px rgba(55,55,55,.2); border:none; color:#252525; box-sizing:border-box; }
.inp:disabled { background-color:#eaeaea !important; }
.inp.inp_full { display:block; width:100%; }
.inp.type_line { background:#fff; border:1px solid #d2d2d2; }
.lb-form { display:inline-block; vertical-align:middle; font-size:14px; }
.selectbox { display:inline-block; vertical-align:middle; min-height:38px; padding:10px 40px 10px 15px; background:url('../images/ico_select.png') top calc(50% - 2px) right 20px/auto auto no-repeat #F8F8F8; appearance:inherit; }

/* bullet */
p.bul-dot:before,
ul.bul-dot > li:before { display:inline-block; width:5px; height:5px; margin:-4px 8px 0 -15px; vertical-align:middle; border-radius:50%; background:#454545; content:""; }
p.bul-dot { color:#454545; padding-left:14px; font-size:18px; }
ul.bul-dot > li { color:#454545; margin-top:8px; padding-left:16px; font-size:18px; }

/* icon */
[class*="ico-"] { display:inline-block; vertical-align:middle; }
.ico-arr { width:40px; height:10px; background:url('../img/ico_arrow_r.png') right 0/40px auto no-repeat; }
.ico-download { width:18px; height:18px; background:url('../img/ico_download.png') right 0/18px auto no-repeat; }
.ico-arr.light { background-position-y:-10px; }

.txt-dot { margin:0 -0.3em; }

/* tag */
.tag-new { display:inline-block; height:18px; line-height:18px; font-size:13px; font-weight:700; color:#fff; padding:0 5px; background:#996cad; vertical-align:middle; margin:-3px 0 0 5px; }

/* paging */
.paging-area { margin-top:50px; text-align:center; }
.btn-jump {position:relative;display:inline-block;margin:0 5px;vertical-align:middle;width:28px;height:28px;background:url('../images/btn_jump.png') 0 0/auto auto no-repeat;/* border-radius:50%; */overflow:hidden;color:transparent;font-size:xx-small;}
.btn-jump.last,
.btn-jump.first { background-image:url('../images/btn_jump_end.png'); }
.btn-jump.prev,
.btn-jump.first { transform:rotate(180deg); }
.btn-jump.disabled { opacity:.3; pointer-events:none; cursor:default; }
.paging-link { display:inline-block; vertical-align:middle; margin:0 30px; }
.paging-link a { display:inline-block; width:25px; height:30px; vertical-align:middle; line-height:28px;font-size:16px; color:#252525; }
.paging-link a:hover { text-decoration:underline; }
.paging-link a.current {font-weight: 800;}
.paging-fraction { display:none; }

/* search form */
.input-warp {border: 1px solid #dbdbdb; border-radius: 24px; width: 290px; height: 48px; padding: 8px 60px 8px 20px ; position: relative;}
.input-warp input {width: 100%; height: 26px; border: none; line-height: 26px; font-family:'SUIT'; font-size: 16px;}
.input-warp input:focus {border: none;}
.input-warp button {display: block; position: absolute;width: 20px; height: 20px; right: 20px; top:14px; font-size: 0px; background-image: url('../images/ico_gnb_search.png');}

/* check-box */
.checkbox-set {position:relative;display:inline-block;}
.checkbox-set input[type=checkbox] {position:absolute;top:0;left:0;width:0;height:0;}
.checkbox-set label {position:relative;display:inline-block;line-height: 1.25rem;min-width:24px;vertical-align:top;padding-left: 2.125rem;cursor:pointer;font-size: 1rem;}
.checkbox-set label:before {content:'';position:absolute;top:0;left:0;display:inline-block;width: 1.375rem;height: 1.375rem;background-color:#fff;}
.checkbox-set label:before {border:2px solid #333333;border-radius:50%;}
.checkbox-set label span {margin-left:8px;font-weight:500;}
.checkbox-set input[type=checkbox]:checked + label:before {background:#ffffff url(../images/ico_common_check.png) center no-repeat;}

/* accordion */
.accordion-01 {list-style:none; transition: all ease-in-out .2s;}
.accordion-01 .btn-toggle {transition: all ease-in-out .2s;}
.accordion-01 .btn-toggle.active {transform:rotate(180deg);}
.accordion-01 .accordion-con {display:none !important;}
.accordion-01 .accordion-con.active {display:block !important;}
.accordion-01 .menu-title.active {margin-bottom: 20px;}

/* header
====================== */
.skip-nav { position:absolute; top:0; left:0; width:100%; text-align:center; }
.skip-nav a { position:absolute; display:block; width:100%; height:0; overflow:hidden; background:#000; color:#fff; line-height:30px; }
.skip-nav a:focus { height:30px; }

.header-area { z-index:10; top:0; left:0; width:100%; height:122px; transition:all ease-in-out .2s; background:#fff; overflow: visible; border-bottom:1px solid #d1d1d1; padding-top: 30px;  }
.header-area .header-grid { display: flex; justify-content: space-between; max-width:1300px; padding:0px 10px; margin:0 auto; height:100%; height: 62px; }
.header-area .header-grid:after { display:block; clear:both; content:""; }
.header-area .logo { position:relative; width:109px;color:#233359; display:inline-flex; align-items: center;}
.header-area .logo-2 { position:relative; width:90px;color:#233359; display:inline-flex; align-items: center;}
.header-area .gnb-area { width:100%; text-align:center; display: flex; align-items: center; justify-content: space-between; margin: 0px 60px 0px 60px;}
.header-area a { transition:color ease-in-out .2s; font-weight: 700; font-size: 20px;}
.header-area .btn-menu { display:none; }
.header-area .search-warp {display: block;}
.header-area .search-warp .input-warp {border: 1px solid #dbdbdb; border-radius: 24px; width: 290px; height: 48px; padding: 8px 60px 8px 20px ; position: relative;}
.header-area .search-warp .input-warp input {width: 100%; height: 26px; border: none; line-height: 26px; font-family:'SUIT'; font-size: 16px;}
.header-area .search-warp .input-warp input:focus {border: none;}
.header-area .search-warp .input-warp button {display: block; position: absolute;width: 20px; height: 20px; right: 20px; top:14px; font-size: 0px; background-image: url('../images/ico_gnb_search.png');}

.nav-d1 { position:relative; float:left; width: auto; white-space:nowrap;}
.nav-d1 > li { position:relative; display:inline-block; color:#252525; font-size:20px; padding: 0px 30px;}
.nav-d1 > li > a:hover,
.nav-d1 > li:hover > a,
.nav-d1 > li > a:focus,
.nav-d1 > li:focus > a { color:#3c9ee0; }
.nav-d1 > li:last-child { margin-right:0; }
.nav-d1 > li:hover > .nav-d2 {display: block;}
.nav-d2 {display: none; position: absolute; top: 100%; left: 50%; transform: translateX(-50%); width: 128px; border: 1px solid #3583c0; z-index: 999; background-color: #fff; border-radius: 20px; margin-left:0; text-align: left; padding: 1rem 0; }
.nav-d2 > li {margin: 0; padding: 0;}
.nav-d2 > li > a {display: block; line-height: 1.75rem; padding: 0 0 0 1.8rem; font-size:16px; font-weight: 600; }
.nav-d2 > li > a:hover,
.nav-d2 > li > a:focus { font-weight:500; }




.floating-area {z-index:9;position:fixed;bottom:0; max-width:1300px;width:50%;right: 20px;}
.floating-warp { position:absolute; right:1.5%; bottom:100px; width:105px;  }
.floating-warp .customer {margin-bottom: 20px; display: block; text-align: center;} 
.floating-warp .item-warp {border-radius:20px; border:2px solid #b2b2b2; overflow:hidden; background:#fff; padding:20px 10px; position: relative; overflow: visible;}
.floating-warp .item-warp span {display: inline-block; width: 100%; text-align: center; font-size: 14px; font-weight: 700; margin-bottom: 10px;}
.floating-warp .item-warp .item-list li {display: block; margin: 10px 0px; text-align: center;}
.floating-warp .item-warp .item-list li img {width: 100%;}
.floating-warp .item-warp::after {content: ""; display: block; width: 23px; height: 23px; border-radius: 50%; border: 1px solid #c0c0c0; position: absolute; left: 50%; transform: translateX(-50%); bottom: -12px;
background-color: #ffffff; background-image: url('../images/ico_arrow_down_sm.png'); background-position: center; background-repeat: no-repeat;}
.floating-warp .btn-top-warp {display: block; text-align: center; font-size: 12px; font-weight: 900; margin-top: 30px; padding-top: 24px; background-image: url('../images/ico_arrow_top.png'); background-size:initial; background-position: top center; background-repeat: no-repeat;}


/* footer
====================== */
.footer-area { background:#333333; color:#efefef; }
.footer-area .footer-grid { width:100%; max-width:1300px; padding:4.562rem 1.25rem 3.75rem; margin:0 auto; display: flex; justify-content: space-between;}
.footer-area .footer-grid .footer-left-warp {width: 70%;}
.footer-area .footer-grid .footer-right-warp {width: 30%;}
.footer-area .footer-grid .company {display: flex;justify-content: flex-start;flex-direction: row;}
.footer-area .footer-grid .company.footer-lower {margin-top: 20px;}
.footer-area .footer-grid .company .footer-logo-warp {width: 6.2rem;}
.footer-area .footer-grid .company .footer-addr-warp {display: flex; align-items: center;}
.footer-area .footer-grid .company .footer-addr-warp p {line-height: 28px; font-weight: 300;}
.footer-area .footer-grid .customer-warp p {font-size: 1.5rem; display: inline-block; width: 100%; position: relative;margin-bottom: 16px;font-weight: 300;}
.footer-area .footer-grid .customer-warp p em {font-weight: 700; margin-left: 20px;}
.footer-area .footer-grid .customer-warp p.tel {font-size: 2.75rem; font-weight: 900; margin-bottom: 20px;}

.footer-area .select-warp {padding-left: 100px; margin-top: 30px;}
.footer-area .select-warp select {font-size: 1rem;font-weight: 400;line-height: 1.5;color: #efefef;background-color: #333333;padding: 0.6em 1.4em 0.5em 0.8em;margin: 0;border: 1px solid #efefef;border-radius: 0.5em;box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);min-width: 200px;}



/* visual
====================== */
.visual-area { z-index:0; position:relative; width: 100%; height:560px; background-size:cover; background-position:center center; background-color:#efece8; }
.visual-area.main { height:560px; overflow: hidden;}
.visual-area.main .visual-inner {width:100%; max-width:1300px; margin: 0 auto; padding: 0px 10px;}
.visual-area.main .visual-inner img {width: 100%; height: 100%;}

/* main content
====================== */
.cont-grid { position:relative; width: 100%; max-width:1300px; padding:0px 10px; margin:0 auto; }
.cont-grid.type2 { padding-left:0; padding-right:0; padding-bottom:100px; }

/* main-product */
.main-product {display: flex;justify-content: space-between;overflow: hidden;width: 100%;/* padding: 54px 0px 144px; *//* margin-top: 2.75rem; */padding-bottom: 9rem;padding-top: 3.375rem;}

.main-left-warp {width: calc(25% - 12px); }
.main-left-warp .input-warp {width: 100%; border-color: #565656;}
.main-left-warp .menu-warp {border: 1px solid #000000;margin-top: 1.625rem;border-radius: 1.75rem;padding: 1.25rem 0px 1.25rem;font-weight: 600;}
.main-left-warp .menu-warp .menu-title {display: block; width: 100%; position: relative; padding:0px 34px;}
.main-left-warp .menu-warp .menu-title .tit-1 {font-size: 1.25rem;line-height: 1.75rem;}
.main-left-warp .menu-warp .menu-title button {font-size: 0px; display: inline-block; width: 15px; height: 18px; background-image: url('../images/ico_common_reload.png'); background-size: contain; margin-left: 14px; margin-top: -6px;}
.main-left-warp .menu-warp .menu-title .arrow-button {display: block; font-size: 0px; width: 15px; height: 9px; margin-right: 0px; position: absolute; right: 34px; top:7px; background-image: url('../images/ico_common_v.png'); background-position: center; background-repeat: no-repeat;}
.main-left-warp .menu-warp .menu-list-warp {display: block; width: 100%;}
.main-left-warp .menu-warp .menu-list {display: block;width: 100%;padding: 1.25rem 2.125rem;border-top: 1px solid #dfdfdf;}
.main-left-warp .menu-warp .menu-list .depth-2 li {line-height: 1.75rem;margin-top: 0.625rem;}

.main-right-warp {width: calc(75% - 12px); }
.product-warp {display: block; width: 100%;}
.product-warp .product-cate {display: block; width: 100%;}
.product-warp .product-cate .menu-list-warp {min-height: 44px;}
.product-warp .product-cate ul {display: block; height: 44px; float: left;}
.product-warp .product-cate ul li {float: left;font-size: 16px; line-height: 44px;}
.product-warp .product-cate ul::after {content: ""; display: block; clear: both;}
.product-warp .product-cate::after {content: ""; display: block; clear: both;}
.product-warp .product-cate ul li.title {font-weight: 700;}
.product-warp .product-cate ul li.cate {margin-left: 20px; display: inline-block; padding: 0px 20px; background-color: #f1f1f1; border-radius: 22px;}
.product-warp .product-cate ul li.cate ul li {margin-right: 28px;position: relative;}
.product-warp .product-cate ul li.cate ul li::after {content: ""; display: block; position: absolute; width: 9px; height: 15px; top: 15px; right: -20px; background-image: url('../images/ico_arrow_right.png');}
.product-warp .product-cate ul li.cate ul li:last-child {margin-right: 0px;}
.product-warp .product-cate ul li.cate ul li:last-child::after {display: none;}

.product-warp .product-cate ul.list-category {margin-left: 8px;}
.product-warp .product-cate ul.list-brand {margin-left: 34px;}
.product-warp .product-cate ul.list-brand li.cate {background-color: #e5dfd7;}

.product-warp .item-warp {display: block; margin-top: 26px;}
.product-warp .item-warp .item-list {display: flex; justify-content: flex-start; flex-wrap: wrap;}
.product-warp .item-warp .item-list li {display: block; width: calc(33.333% - 12px); border: 1px solid #dfdfdf; border-radius: 28px; margin-bottom: 20px; text-align: center; margin-right: 18px;}
.product-warp .item-warp .item-list li:nth-child(3n+0) {margin-right: 0px;}
.product-warp .item-warp .item-list li .img-warp {padding: 10px; border-bottom: 1px solid #dfdfdf;}
.product-warp .item-warp .item-list li .img-warp img {width: 100%;}
.product-warp .item-warp .item-list li .text-warp {padding: 30px 20px 30px 20px; text-align: left;}
.product-warp .item-warp .item-list li .text-warp .cate {display: inline-block; position: relative; width: auto; font-size: 12px; margin-bottom: 20px;}
.product-warp .item-warp .item-list li .text-warp .cate::after {content: ""; display: block; width: 100%; position: absolute; border: 1px solid; bottom: -6px;}
.product-warp .item-warp .item-list li .text-warp .cate.diamond {border-color: #0025b0; color: #0025b0; }
.product-warp .item-warp .item-list li .text-warp .cate.gold {border-color: #d0994b; color: #d0994b; }
.product-warp .item-warp .item-list li .text-warp .title {font-size: 1.25rem;font-weight: 700;display: block;width: 100%;padding-bottom: 10px;border-bottom: 1px solid #e0e0e0;margin-bottom: 20px;min-height: 52px;}
.product-warp .item-warp .item-list li .amt-warp {display: block; width: 100%;}
.product-warp .item-warp .item-list li .amt-warp > div {margin-top: 8px;}
.product-warp .item-warp .item-list li .amt-warp span.name {display: inline-block; width: 48%; font-size: 16px; color: #0e0e0e; font-weight: 500;}
.product-warp .item-warp .item-list li .amt-warp span.amt {display: inline-block;width: 50%;text-align: right;font-size: 1.25rem;font-weight: 800;color: #0e0e0e;}
.product-warp .item-warp .item-list li .amt-warp .amt-dc span.name {color: #c80013; font-weight: bold;}
.product-warp .item-warp .item-list li .amt-warp .amt-dc span.amt {color: #c80013;}

/* detail content
====================== */
.detail-product {display: block; width: 100%; max-width: 100%; background-color: #f5f5f5; overflow: hidden; padding-top: 5.75rem; padding-bottom: 5.75rem;}
.sub-product-warp .upper-warp {display: flex; justify-content: space-between; width: 100%;}
.sub-product-warp .upper-warp .product-left-warp {width: 500px;}
.sub-product-warp .upper-warp .product-left-warp .img-warp {width: 100%; aspect-ratio: 1 / 1; background-color: #ffffff; border:1px solid #ebebeb; border-radius: 44px; display: flex; align-items: center; justify-content: center;}
.sub-product-warp .upper-warp .product-left-warp .img-warp img {vertical-align: middle; width: 100%; max-width: 400px; height: auto;}
.sub-product-warp .upper-warp .product-left-warp .thumb-warp {margin-top: 20px;}
.sub-product-warp .upper-warp .product-left-warp .thumb-warp .thum-list {display: flex; justify-content: left; }
.sub-product-warp .upper-warp .product-left-warp .thumb-warp .thum-list li {margin-right: 10px;}
.sub-product-warp .upper-warp .product-left-warp .thumb-warp .thum-list li:last-child {margin-right: 0px;}
.sub-product-warp .upper-warp .product-left-warp .thumb-warp .thum-list li {display: block; width: 96px; height: 96px; background-color: #ffffff; border: 1px solid #ebebeb; border-radius: 18px; display: flex;align-items: center;justify-content: center;}
.sub-product-warp .upper-warp .product-left-warp .thumb-warp .thum-list li img {width: 80px; vertical-align: middle;}

.sub-product-warp .upper-warp .product-right-warp {width: 690px; margin-left: 90px; overflow: hidden;}
.sub-product-warp .upper-warp .product-right-warp .summery-warp {width: 100%; padding-top: 4px;}
.sub-product-warp .upper-warp .product-right-warp .summery-warp span {display: inline-block; width: 100%; font-weight: bold;}
.sub-product-warp .upper-warp .product-right-warp .summery-warp span.cate.diamond {color: #68a8f7;}
.sub-product-warp .upper-warp .product-right-warp .summery-warp .tit-item {width: 100%; font-size: 1.5rem; font-weight: bold; margin-top: 20px;}
.sub-product-warp .upper-warp .product-right-warp .summery-warp span.code {font-weight: 400; margin-top: 20px;}
.sub-product-warp .upper-warp .product-right-warp .table-warp {width: 100%; margin-top: 30px;}
.sub-product-warp .upper-warp .product-right-warp .table-warp img {width: 100%;}
.sub-product-warp .upper-warp .product-right-warp .card-warp {margin-top: 20px;}
.sub-product-warp .upper-warp .product-right-warp .card-warp .card-list {display: flex; justify-content: space-between;}
.sub-product-warp .upper-warp .product-right-warp .card-warp .card-list li {width: calc(50% - 5px); height: 192px; background-color: #ffffff; border: 1px solid #ebebeb; border-radius: 18px;display: flex;align-items: center;justify-content: center;}
.sub-product-warp .upper-warp .product-right-warp .card-warp .card-list li img {width: 100%; max-width: 280px;}

.sub-product-warp .lower-warp {position: relative; padding-top: 64px; margin-top: 64px; border-top: 1px solid #bababa;}
.sub-product-warp .lower-warp .apply-warp {width: 100%; height: 5.87rem; max-width: 1032px; margin: 0 auto; border: 1px solid #ebebeb; background-color: #ffffff;border-radius: 46px; display: flex; justify-content: space-between;align-items: center;}
.sub-product-warp .lower-warp .apply-warp li {width: 50%; height: 5.87rem; text-align: center;display: flex; justify-content: center;align-items: center; }
.sub-product-warp .lower-warp .apply-warp li.apply-btn-warp {background-color: #caa34e;border-radius: 2.87rem; color: #ffffff; font-size: 1.5rem; font-weight: 800;}
.sub-product-warp .lower-warp .apply-warp li.customer-warp i.ico-cs {display: inline-block; width: 50px; height: 50px; border-radius: 50%; background-color: #f5f5f5; line-height: 50px;}
.sub-product-warp .lower-warp .apply-warp li.customer-warp span.title {display: inline-block; font-size: 20px; font-weight: 500; margin-left: 10px;} 
.sub-product-warp .lower-warp .apply-warp li.customer-warp span.tel {display: inline-block; font-size: 28px; font-weight: 800; margin-left: 10px;}
.sub-product-warp .lower-warp .info-warp {display: inline-block; width: 100%; width: 100%; margin-top: 37px; text-align: center; font-size: 2rem; font-weight: 600;}
.sub-product-warp .lower-warp .info-warp p {margin-bottom: 14px;}
.sub-product-warp .lower-warp .info-warp p.color {color: #a37937;}

.product-detail-warp .sub-product {display: flex; justify-content: space-between; padding-top: 70px; padding-bottom: 70px; position: relative;}
.product-detail-warp .sub-product .detail-left {width: 100%; max-width: 975px;}
.product-detail-warp .sub-product .detail-left img {width: 100%; max-width: 975px;}
.product-detail-warp .sub-product .detail-right {width: calc(280px - 24px); position: relative;}
.product-detail-warp .sub-product .detail-right .cnt-box { border: 1px solid #dfdfdf; border-radius: 18px;position: relative;}
.product-detail-warp .sub-product .detail-right .cnt-box .cnt-box-inner {padding: 24px;}
.product-detail-warp .sub-product .detail-right .cnt-box .title-warp {display: block; width: 100%;}
.product-detail-warp .sub-product .detail-right .cnt-box .title-warp p.cate {color:#68a8f7}
.product-detail-warp .sub-product .detail-right .cnt-box .title-warp .title {font-size: 20px; line-height: 26px; font-weight: 700; display: inline-block; width: 100%; margin-top: 20px;}
.product-detail-warp .sub-product .detail-right .cnt-box .title-warp .code {font-size: 14px; margin-top: 12px;}
.product-detail-warp .sub-product .detail-right .cnt-box .amt-warp {display: block; width: 100%; margin-top: 30px;}
.product-detail-warp .sub-product .detail-right .cnt-box .amt-warp .amt-detail-warp {width: 100%; margin-bottom: 16px; display: flex; justify-content: space-between;}
.product-detail-warp .sub-product .detail-right .cnt-box .amt-warp .amt-detail-warp span.title {font-weight: 500;}
.product-detail-warp .sub-product .detail-right .cnt-box .amt-warp .amt-detail-warp span.content {font-weight: 800;}
.product-detail-warp .sub-product .detail-right .cnt-box .amt-warp .amt-detail-warp span.content.c-red {color: #d72f2f; font-weight: 500;}
.product-detail-warp .sub-product .detail-right .cnt-box .amt-warp .amt-detail-warp span.content.c-red em {font-weight: 800;}
.product-detail-warp .sub-product .detail-right .cnt-box .btn-warp {display: block; margin-top: 10px; width: 100%; min-height: 54px; background-color: #68a8f7; color: #ffffff; border-radius: 0px 0px 18px 18px;display: flex; justify-content: space-between;align-items: center;justify-content: center;}
.product-detail-warp .sub-product .detail-right .cnt-box.fixed {position: absolute;}

/* .add-profile */
.item-empty {border:1px solid #eee;box-shadow:0 3px 16px rgba(0,0,0,0.04);padding:80px;text-align:center;border-radius:8px; margin-bottom: 20px;}
.item-empty .text-01 {position:relative;padding-top:174px;line-height:40px;font-size:2rem;font-weight:600;}
.item-empty .text-01:before {content:'';position:absolute;top:0;left:50%;display:inline-block;width:150px;height:150px;margin-left:-75px;border-radius:50%;background:#F7F8FC url(../images/img_empty.png) center no-repeat;}
.item-empty .text-02 {margin:16px 0 52px;line-height:26px;font-size:18px;color:#666;word-break:keep-all;}
.item-empty .btn-blue-03 {box-shadow:3px 6px 16px #495EF440;}

@media (max-width:1500px) {
	.floating-area .item-warp {display: none;}
}
@media (max-width:1100px) {
	
}
@media (max-width:930px) {
	
}

/* only PC */
@media (min-width:1025px) {

	.only-resp { display:none !important; }
	
}


