/* 여백 초기화 */
body, div, ul, li, dl, dd, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form, figure, figcaption {margin:0; padding:0; }

a,ul,li{
    list-style: none; text-decoration: none; color: aliceblue; 
}
.nav-item>a{
	list-style: none; 
	text-decoration: none; 
	color: rgb(0, 0, 64);
}
.nav-item2>a{
	list-style: none; 
	text-decoration: none; 
	color: aliceblue;
}
* {margin: 0; padding: 0;}
        body {background-color: #fffde7;}
        .header {width: 100%; height: 170px;}
        .banner {width: 100%; height: 450px; background-color: palegoldenrod;}
        .contents {overflow:hidden; width: 100%; background-color: palevioletred;}
        .contents > div {width: 29%; margin: 2.1%; float: left; height: 250px; background-color: #ff9800; border-radius: 5px;}
        .footer {clear: both; width: 100%; height: 170px; background-color: blue;}


        /*화면 너비 0~1200px*/
        @media (max-width: 1220px) {
         #wrap {width: 100%;}
         .contents > div,article{width: 29%;}
        }
         /*화면 너비 0~768px*/
         @media (max-width: 768px) {
         .contents > div,article{width: 96%;}
        }

        /*header_menu시작*/
#header_menu ul {
list-style: none; padding-left: 0px; float: right; margin-top: 5px;
}
#header_menu ul li {
    display: inline; font-size: 12px; border-left: 1px solid black; padding: 0px 10px 0px 10px; margin: 5px 0px 5px 0px;
}
#header_menu li:first-child {
    border-left: none;
}
#header_menu ul li>a {
   text-decoration: none; color:black; font-size: 12px; 
}
  /*header_logo시작*/
  .header_logo >a { text-align: center;}
  .header_logo>a>img {
    position: absolute; width: 200px; height: 70px; top:11%; left: 50%; transform: translate(-50%, -50%);
  }
/*contents 시작*/
.contents > div:nth-child(1) {background: image(); }



/*header_main_menu -boot*/
/*header_footer시작*/
.ft_wrap {
    position: relative;
    top:21px;
    width: 100%;
    height: 130px;
    background-color: #464646;
    color:aliceblue;
}
.ft_wrap>.footer_logo>img {width: 130px; height: 130px; margin-left: 50px;}

.ft_info {top:25px; position: absolute; left: 200px;}
.ft_info >ol>li {font-size: 13px;}


.ft_code {
    position: absolute;
    top:21px;
    right: 10px;
}
.ft_code > article {
    display: inline;
}
.ft_code > article >a {
    border: 1px solid black;
    text-decoration: none;
    color: inherit;
}