<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/mypage_layout}">
	<main class="content-wrapper" layout:fragment="content">
		<style>
			.content-container {
				max-width: 1000px;
				margin: 0 auto;
			}
		</style>
		<div class="content-container">
			<div>
				<h2 class="mb-4 text-2xl">이달의 식단</h2>
				<img src="image/foodtable.jpg" alt="식단표" style="display: inline;"/>
			</div>
		</div>
	</main>
</html>