<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/mypage_layout}">
		<main class="content-wrapper" layout:fragment="content">
			<style>
				.content-container {
					max-width: 600px;
					min-height: 60vh;
					margin: 0 auto;
				}
				/* 공통 */
				.btn-login {
					width: 100%;
					max-width: 360px;
					height: 56px;
					margin: 0 auto 12px;
					border-radius: 8px;
					font-size: 16px;
					font-weight: 600;
					position: relative;
					overflow: hidden;
					
					font-family: "Pretendard", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
				}
				
				/* 카카오 */
				.btn-kakao {
					background: #FAE100;
					color: #3C1E1E;
				}
				
				/* 네이버 */
				.btn-naver {
					background: #2DB400;
					color: #fff;
				}
				
				/* 아이콘 공통 */
				.btn-kakao::before,
				.btn-naver::before {
					content: '';
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-120px, -50%); /* 텍스트 왼쪽 위치 */
					width: 32px;
					height: 32px;
					background-size: contain;
				}
				
				/* 아이콘 개별 */
				.btn-kakao::before {
					background-image: url("image/ico_sns_kakao.svg");
				}
				
				.btn-naver::before {
					background-image: url("image/ico_sns_naver.svg");
				}

			</style>
			<script src="/js/common/naveridlogin_js_sdk_2.0.2.js"></script>
			<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
			<div class="content-container justify-content-center text-center">
				<th:block th:if="${type ne 'noneMember'}">
					<div class="rounded-lg p-4 h-90 overflow-y-auto text-sm text-gray-700 leading-relaxed mb-5">
						<!-- 아이디 -->
						<div class="mb-4">
							<label for="userId" class="block mb-2 text-lg font-semibold text-gray-700 text-start">아이디</label>
							<input type="text" name="userId" id="userId" placeholder="아이디를 입력해 주세요." maxlength="20" onkeypress="enterKey()"
								class="w-full px-4 py-3 border border-gray-300 text-lg rounded focus:outline-none focus:ring-2 focus:ring-gray-400 focus:border-transparent">
						</div>
				
						<!-- 비밀번호 -->
						<div class="mb-4">
							<label for="pwd" class="block mb-2 text-lg font-semibold text-gray-700 text-start">비밀번호</label>
							<input type="password" name="pwd" id="pwd" placeholder="비밀번호를 입력해 주세요." maxlength="20" onkeypress="enterKey()"
								class="w-full px-4 py-3 border border-gray-300 text-lg rounded focus:outline-none focus:ring-2 focus:ring-gray-400 focus:border-transparent">
						</div>
				
						<!-- 아이디 저장 -->
						<div class="flex items-center mb-6">
							<input id="saveId" type="checkbox" class="w-4 h-4 text-black border-gray-300 rounded focus:ring-black">
							<label for="saveId" class="ml-2 text-sm text-gray-700">아이디 저장</label>
						</div>
				
						<!-- 로그인 버튼 -->
						<button type="button" class="w-full py-3 font-bold text-white bg-black rounded hover:bg-gray-800 transition-colors" onclick="fnLogin()">
							로그인
						</button>
				
						<!-- 하단 링크 -->
						<div class="flex justify-center mt-6 text-sm text-black font-bold space-x-4 mb-5">
							<a href="/findId" class="hover:underline">아이디 찾기</a>
							<span>|</span>
							<a href="#" class="hover:underline" id="pwdHelpLink">비밀번호 찾기</a>
							<span>|</span>
							<a href="/joinStep1" class="hover:underline">회원가입</a>
							<!--<span>|</span>
							<a href="/login?type=noneMember" class="hover:underline">비회원 주문하기</a>-->
						</div>
						<div class="login-buttons">
							<button type="button" class="btn-login btn-kakao" onclick="fn_kakao_join()">
								<span class="text">카카오로 시작하기</span>
							</button>
						
							<div id="naverIdLogin" class="btn-login btn-naver"></div>
						</div>

				</th:block>
				<th:block th:if="${type eq 'noneMember'}">
					<h2 class="text-lg font-semibold text-gray-800 mb-2">비회원 구매</h2>
					<section>
						<form method="post" id="loginForm">
							<div class="border rounded-lg p-4 h-90 overflow-y-auto text-sm text-gray-700 leading-relaxed bg-gray-50">
								<div class="text-start">
									<p class="text-sm font-semibold">1. 개인정보의 수집∙이용 목적</p>
									<p class="text-sm">- 구매한 물품의 배송/설치 등 고객과 체결한 계약의 이행</p>
									<p class="text-sm">- 상품 구매 관련 문의사항과 반품·환불 등 민원사항의 상담 및 처리</p>
									<p class="text-sm">- 상품 구매 관련 고지사항, 주문/배송정보 안내</p><br/>
									<p class="text-sm font-semibold">2. 수집하는 개인정보의 항목</p>
									<p class="text-sm">(필수) 주문 고객명, 받는 고객명, 이메일, 배송주소, 배송연락처, 결제수단 정보 (신용카드, 계좌번호 등 결제수단에 따름)</p>
									<p class="text-sm">(선택) 추가 연락처</p><br/>
									<p class="text-sm font-semibold">3. 개인정보 보유 이용 기간</p>
									<p class="text-sm">- 상품 주문 및 배송 완료 후 5년간 보유합니다.</p>
									<p class="text-sm">- 법령에 따라 보유하여야 하는 기간은 홈페이지 하단의 ‘개인정보 처리방침’을 참고하시기 바랍니다.</p>
									<p class="text-sm">고객님께서는 위와 같은 개인정보 수집에 동의를 거부하실 수 있습니다. 다만, 필수항목 동의 거부시 서비스 이용이 제한됩니다.</p>
								</div>
							</div>
							<div class="d-flex justify-content-between align-items-center" style="margin-bottom: 18px;">
								<div class="form-check">
									<label class="flex items-center mt-3 cursor-pointer text-sm text-gray-700" for="agree1" style="cursor: pointer;">
										<input id="agree1" type="checkbox" class="agree w-5 h-5 text-blue-600 border-gray-300 rounded focus:ring-blue-300">
										<span class="ml-2">[필수] 비회원 개인정보 수집 · 이용 동의</span>
									</label>
								</div>
							</div>
							<div style="margin-bottom: 18px;">
								<button type="button" class="btn btn-outline-dark"style="width:100%;height: 60px;font-weight: bold;font-size: 20px;"onclick="noneOrder()">비회원 주문</button>
							</div>
						</form>
					</section>
				</th:block>
			</div>
			<script th:inline="javascript">
				Kakao.init(/*[[${kakaoKey}]]*/ "");
				function fn_kakao_join() {
					Kakao.Auth.login({
						success: function () {
							Kakao.API.request({
								url: '/v2/user/me',
								success: function (res) {
									const memberId = res.id;
									if (memberId === undefined || memberId == null) {
										alert("카카오 연결이 실패하였습니다");
										return;
									} else {
										fn_sns_join(memberId, '', '2001');
									}
								},
								fail: function (error) {
									alert("카카오 연결이 실패하였습니다. - " + JSON.stringify(error));
								}
							});
						},
						fail: function (err) {
							//console.log(JSON.stringify(err.error))
						}
					});
				}
				
				
				const naverLogin = new naver.LoginWithNaverId({
					clientId: /*[[${naverKey}]]*/ "",
		            callbackUrl: /*[[${currentDomain}]]*/ "",
					isPopup: true, // true: 팝업, false: 페이지 이동
					loginButton: {color: "green", type: 3, height: 48} // 버튼 스타일
				});
				naverLogin.init();
				
				function fn_sns_join_with_naver(snsId, snsEmail, snsKind, popupWindow) {
					//네이버 간편로그인으로 접근했을때
					popupWindow.close();
					fn_sns_join(snsId, snsEmail, snsKind);
				}
				
				function fn_sns_join(snsId, snsEmail, snsKind) {
					
					let snsNm = "";
					if (snsKind == "1001") {
					  snsNm = "네이버";
					} else if (snsKind == "2001") {
					  snsNm = "카카오";
					}
				
					let loginSnsInfo = {};
					loginSnsInfo.snsId = snsId;
					loginSnsInfo.snsEmail = snsEmail;
					loginSnsInfo.snsKind = snsKind;
				
					let returnUrl = /*[[${returnUrl}]]*/ "";
					$.ajax({
					  type: "POST",
					  url : "/login/snsauth",
					  data: loginSnsInfo,
					  dataType: "json",
					  error: function (request) {
						alert("에러코드: " + request.status + "\n메시지: " + request.responseText);
					  },
					  success: function (result) {}
					}).done(function (datas) {
						
						if(datas.RESULT === "SUCCESS"){
							location.href = returnUrl == null || returnUrl == "" ? "/main" : returnUrl;
							return;
						} else if(datas.RESULT === "NONE"){
							alert("연결된 회원 정보가 없습니다. \n로그인하여 연결 후 이용하실 수 있습니다.");
							return;
						}
					});
				  }
			</script>
			<script th:inline="javascript">
				
				let userId = localStorage.getItem('userId');
				if (userId != null) {
					$('input:checkbox[id=\'saveId\']').prop('checked', true);
					$('#userId').val(userId);
				}
				/**
				*	로그인 시도
				**/
				fnLogin = function(){
					let userId = $('#userId').val();
					let pwd = $('#pwd').val();
					
					if(userId == ""){
						alert("아이디를 입력해 주세요.");
						$('#userId').focus();
						return;
					} else if(pwd == ""){
						alert("비밀번호를 입력해 주세요.")
						$('#pwd').focus();
						return;
					}
					let loginInfo = {
						userId : userId,
						userPw : pwd
					}
					let returnUrl = /*[[${returnUrl}]]*/ "";
					$.ajax({
						url : "/login/loginAjax",
						type : "POST",
						dataType : "json",
						data : loginInfo,
						success : function(data) {
							if(data.RESULT == "SUCCESS"){
								if ($('#saveId').is(':checked')) {
									localStorage.setItem('userId', data.mberId);
								} else {
									localStorage.removeItem('userId');
								}
								location.href = returnUrl == null || returnUrl == "" ? "/main" : returnUrl;
							} else{
								alert("로그인 정보가 정확하지 않습니다.");
								$('#userPw').val("");
							}
						}, error : function(request, status, error) {
							alert("에러코드: " + request.status + "\n메시지: " + request.responseText);
						}
					});
				}
				noneOrder = function(){
					if(!$("#agree1").is(":checked")){
						alert("[비회원 개인정보 수집 · 이용 동의]에 동의해주세요.");
						return;
					}
					location.href = "/cart?noneMember=Y";
				}
				enterKey = function(type){
					if (window.event.keyCode == 13) {
						fnLogin();
					}
				}
				document.getElementById('pwdHelpLink').addEventListener('click', (e) => {
					e.preventDefault();
					alert('비밀번호 찾기는 고객센터로 문의해 주세요.');
				});
			</script>
		</main>
</html>