<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/mypage_layout}">
		<main class="content-wrapper" layout:fragment="content">
			<style>
				.content-container {
					max-width: 600px;
					margin: 0 auto;
				}
			</style>
			<div class="content-container justify-content-center text-center">
				<th:block th:if="${type eq 'noneMember'}">
					<h2 class="text-lg font-semibold text-gray-800 mb-2">비회원 구매</h2>
					<section>
						<form method="post" id="loginForm">
							<div class="border rounded-lg p-4 h-90 overflow-y-auto text-sm text-gray-700 leading-relaxed bg-gray-50">
								<div class="text-start">
									<p class="text-sm font-semibold">1. 개인정보의 수집∙이용 목적</p>
									<p class="text-sm">- 구매한 물품의 배송/설치 등 고객과 체결한 계약의 이행</p>
									<p class="text-sm">- 상품 구매 관련 문의사항과 반품·환불 등 민원사항의 상담 및 처리</p>
									<p class="text-sm">- 상품 구매 관련 고지사항, 주문/배송정보 안내</p><br/>
									<p class="text-sm font-semibold">2. 수집하는 개인정보의 항목</p>
									<p class="text-sm">(필수) 주문 고객명, 받는 고객명, 이메일, 배송주소, 배송연락처, 결제수단 정보 (신용카드, 계좌번호 등 결제수단에 따름)</p>
									<p class="text-sm">(선택) 추가 연락처</p><br/>
									<p class="text-sm font-semibold">3. 개인정보 보유 이용 기간</p>
									<p class="text-sm">- 상품 주문 및 배송 완료 후 5년간 보유합니다.</p>
									<p class="text-sm">- 법령에 따라 보유하여야 하는 기간은 홈페이지 하단의 ‘개인정보 처리방침’을 참고하시기 바랍니다.</p>
									<p class="text-sm">고객님께서는 위와 같은 개인정보 수집에 동의를 거부하실 수 있습니다. 다만, 필수항목 동의 거부시 서비스 이용이 제한됩니다.</p>
								</div>
							</div>
							<div class="d-flex justify-content-between align-items-center" style="margin-bottom: 18px;">
								<div class="form-check">
									<label class="flex items-center mt-3 cursor-pointer text-sm text-gray-700" for="agree1" style="cursor: pointer;">
										<input id="agree1" type="checkbox" class="agree w-5 h-5 text-blue-600 border-gray-300 rounded focus:ring-blue-300">
										<span class="ml-2">[필수] 비회원 개인정보 수집 · 이용 동의</span>
									</label>
								</div>
							</div>
							<div style="margin-bottom: 18px;">
								<button type="button" class="btn btn-outline-dark"style="width:100%;height: 60px;font-weight: bold;font-size: 20px;"onclick="noneOrder()">비회원 주문</button>
							</div>
						</form>
					</section>
				</th:block>
			</div>
		
			<script th:inline="javascript">
				/**
				*	로그인 시도
				**/
				fnLogin = function(){
					let userId = $('#userId').val();
					let userPw = $('#userPw').val();
					
					if(userId == ""){
						alert("아이디를 입력해 주세요.");
						$('#userId').focus();
						return;
					} else if(userPw == ""){
						alert("비밀번호를 입력해 주세요.")
						$('#userPw').focus();
						return;
					}
					let loginInfo = {
						userId :  userId,
						userPw : userPw
					}
					let returnUrl = /*[[${returnUrl}]]*/ "";
					
					$.ajax({
						url : "/login/loginAjax",
						type : "POST",
						dataType : "json",
						data : loginInfo,
						success : function(data) {
							if(data.RESULT == "SUCCESS"){
								location.href = returnUrl == null ? "/main" : returnUrl;
							} else{
								alert("아이디와 비밀번호가 일치하지 않습니다.");
								$('#userPw').val("");
							}
						}, error : function(request, status, error) {
							alert("에러코드: " + request.status + "\n메시지: " + request.responseText);
						}
					});
				}
				noneOrder = function(){
					if(!$("#agree1").is(":checked")){
						alert("[비회원 개인정보 수집 · 이용 동의]에 동의해주세요.");
						return;
					}
					let returnUrl = /*[[${returnUrl}]]*/ "";
					location.href = returnUrl + "&noneMember=Y";
				}
				enterKey = function(type){
					if (window.event.keyCode == 13) {
						fnLogin();
					}
				}
			</script>
		</main>
</html>