<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>산정현 교회 방탈출</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/font.css">
		<link rel="stylesheet" href="/css/bootstrap-icons.min.css">
		<script src="/js/jquery-3.6.0.min.js"></script>
		<script src="/js/bootstrap.bundle.min.js"></script>
		<script src="/js/jquery.blockUI.min.js"></script>
		<script src="/js/blockCommon.js"></script>
		<script src="/js/jQuery.serializeObject.min.js"></script>
	</head>
	<style>
		.content {
			text-align: center;
		}
		.btn_search {
		    min-width: 60px;
		    line-height: 30px;
		    height: 32px;
		    padding: 0 9px;
		    border: 1px solid #787878;
		    background: #787878;
		    color: #FFF;
			font-weight: bold;
		}
		#fullscreen-element {
			width: 100%;
			height: 300px;
			background-color: lightblue;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 24px;
		}
	</style>
	<body style="background-color: black;">
		<div style="width:100%;height: 270px;" class="mt-4 ps-5">
			<span class="homeDiv" style="color : rgb(255, 255, 255); font-weight: bold; font-size: 70px;cursor: pointer;">IGYM</span>
			<i class="bi bi-house-door homeDiv"	style="font-size:80px;color: #FFF;cursor: pointer;"></i>
		</div>
		<div class="content">
			
			<span style="color: white;font-weight: bold; font-size: 50px;">HINT CODE</span><br>
			<input type="text" id="hintText" maxlength="6" onkeypress="enterKey()" autocomplete="off"/>
			<input type="button" class="btn_search" value="확인" onclick="fn_confirm()" >
			
			<div style="margin-top:300px">
				<span style="color: white;font-weight: bold; font-size: 32px;margin-left: 160px;">USED HINT</span>
				<span style="padding-left: 30px;">
					<i class="bi bi-info-circle" style="font-size:32px;color: rgb(77, 166, 255);cursor: pointer;" onclick="location.href='info'"></i>
					<img src="images/lock.png" style="width:100px; height:100px;cursor: pointer;" class="ms-4"onclick="fn_final()">
				</span><br>
				<span style="color: coral;font-weight: bold; font-size: 32px;" th:text="${hintCnt}">0</span><br>
			</div>
		</div>
		<form method="post" action="hint" id="hintForm">
			<input type="hidden" name="hintText" id="hiddenText">
		</form>
	</body>
	<script th:inline="javascript">
		$(document).ready(function(){  
			//한글입력 안되게 처리  
			$("input[id=hintText]").keyup(function(event){
				if (!(event.keyCode >=37 && event.keyCode<=40)) {
					var inputVal = $(this).val();
					$(this).val(inputVal.replace(/[^a-z0-9]/gi,''));
				}
			});
			$(".homeDiv").click(function(){
				location.href="/";
				return;
			});
		});
			
		function enterKey(type){
			if (window.event.keyCode == 13) {
				fn_confirm();
			}
		}
		
		function fn_confirm(){
			let form = $("#hintForm");
			let hintText = $("#hintText").val();
			
			if("" == hintText){
				alert("힌트코드를 올바르게 입력해 주세요.");
				$("#hintText").val("");
				return;
			} else {
				$("#hiddenText").val(hintText);
				form.submit();
			}
		}
		function fn_final(){
			let final = prompt("최종 정답을 입력해 주세요.");
			if(final != null){
				$.ajax({
					url : "/finalAjax",
					type : "POST",
					dataType: "json",
					data: {
						final	: final
					},
					success : function(data) {
						if(data.RESULT == "SUCCESS"){
							alert("정답입니다.\n탈출에 성공하셨습니다. 문을 열고 나오시면 됩니다.");
							return;
						} else {
							alert("오답입니다.");
							return;
						}
					}, error : function(request, status, error) {
						alert("에러코드: " + request.status + "\n메시지: " + request.responseText);
					}
				});
			} else if(final == null){
				return;				
			}
		}
	</script>
</html>