<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/mypage_layout}">
		<main class="content-wrapper" layout:fragment="content">
			<style>
				.content-container {
					max-width: 1000px;
					margin: 0 auto;
				}
			</style>
			<div class="slider content-container">
				<div>
					<h2 class="mb-4 text-3xl">공지사항</h2>
					<span>밥수니 공지사항 정독 후 주문 부탁드립니다.</span>	
					<img src="image/info.png" alt="공지사항" class="notice_image"/>
				</div>
			</div>
		</main>
</html>