<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>메일 폼</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
		<table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color:#ddd;">
			<tbody>
				<tr>
					<td align="center" style="padding:40px;">
						<table cellpadding="0" cellspacing="0" border="0" width="750" align="center" style="border-collapse:collapse; font-family:'맑은 고딕','Malgun Gothic', arial; margin:0 auto; background-color:#fff;" bgcolor="#fff">
							<tbody>
								<!-- header (s) // -->
								<tr>
								</tr>
								<!-- // (e) header -->
		
								<!-- contents (s) // -->
								<tr>
									<td align="center">
										<!-- Top Message (s) // -->
										<table cellpadding="0" cellspacing="0" border="0" width="690" align="center" style="border-collapse:collapse; font-family:'맑은 고딕','Malgun Gothic', arial; background-color:#fff; margin:0 auto; width:690px;" bgcolor="#fff">
											<tbody>
												<tr>
													<td style="padding-bottom:29px; font-size:32px; line-height:40px; font-family:'맑은 고딕','Malgun Gothic', arial; color:#191919;">주문내역 확인 안내</td>
												</tr>
												<tr>
													<td style="padding-bottom:14px; font-size:16px; line-height:24px; font-family:'맑은 고딕','Malgun Gothic', arial; color:#191919; word-wrap:break-word; word-break:keep-all;">
														<strong>안녕하세요. [[${orderName}]] 고객님</strong><br /><br />
														구매가 정상적으로 완료되었습니다.<br />
														저희 밥수니반찬을 이용해주셔서 진심으로 감사드립니다.
													</td>
												</tr>
											</tbody>
										</table>
										<!-- // (e) Top Message -->
		
										<!-- 주문내역 안내 (s) // -->
										<table cellpadding="0" cellspacing="0" border="0" width="690" align="center" style="border-collapse:collapse; font-family:'맑은 고딕','Malgun Gothic', arial; background-color:#fff; margin:0 auto; width:690px;" bgcolor="#fff">
											<tbody>
												<tr>
													<td style="padding:37px 0 27px; font-size:20px; line-height:28px; font-family:'맑은 고딕','Malgun Gothic', arial; color:#191919;"><strong>주문내역 안내</strong></td>
												</tr>
											</tbody>
										</table>
										<table cellpadding="0" cellspacing="0" border="0" width="690" align="center" style="border-collapse:collapse; font-family:'맑은 고딕','Malgun Gothic', arial; background-color:#fff; margin:0 auto; width:690px; border-top:1px solid #191919;" bgcolor="#fff">
											<tbody>
												<tr>
													<td width="20%" valign="top" style="padding:19px 0 7px; font-size:14px; line-height:22px; font-family:'맑은 고딕','Malgun Gothic', arial; color:#666666;">
														주문자
													</td>
													<td width="80%" style="padding:19px 0 7px; font-size:14px; line-height:22px; font-family:'맑은 고딕','Malgun Gothic', arial; color:#191919;">
														<strong>[[${orderName}]]</strong>
													</td>
												</tr>
												<tr>
													<td valign="top" style="padding:8px 0 7px; font-size:14px; line-height:22px; font-family:'맑은 고딕','Malgun Gothic', arial; color:#666666;">
														주문번호
													</td>
													<td style="padding:8px 0 7px; font-size:14px; line-height:22px; font-family:'맑은 고딕','Malgun Gothic', arial; color:#22b8ff;">
														<strong>[[${orderNo}]]</strong>
													</td>
												</tr>
												<tr>
													<td valign="top" style="border-bottom:1px solid #ccc; padding:8px 0 21px; font-size:14px; line-height:22px; font-family:'맑은 고딕','Malgun Gothic', arial; color:#666666;">
														주문일자
													</td>
													<td style="border-bottom:1px solid #ccc; padding:8px 0 21px; font-size:14px; line-height:22px; font-family:'맑은 고딕','Malgun Gothic', arial; color:#191919;">
														<strong>[[${orderDt}]]</strong>
													</td>
												</tr>
											</tbody>
										</table>
										<!-- // (e) 주문내역 안내 -->
		
										<!-- 받는분 고객정보 (s) // -->
										<table cellpadding="0" cellspacing="0" border="0" width="690" align="center" style="border-collapse:collapse; font-family:'맑은 고딕','Malgun Gothic', arial; background-color:#fff; margin:0 auto; width:690px;" bgcolor="#fff">
											<tbody>
												<tr>
													<td style="padding:37px 0 27px; font-size:20px; line-height:28px; font-family:'맑은 고딕','Malgun Gothic', arial; color:#191919;"><strong>받는분 고객정보</strong></td>
												</tr>
											</tbody>
										</table>
										<table cellpadding="0" cellspacing="0" border="0" width="690" align="center" style="border-collapse:collapse; font-family:'맑은 고딕','Malgun Gothic', arial; background-color:#fff; margin:0 auto; width:690px; border-top:1px solid #191919;" bgcolor="#fff">
											<tbody>
												<tr>
													<td width="20%" valign="top" style="padding:19px 0 7px; font-size:14px; line-height:22px; font-family:'맑은 고딕','Malgun Gothic', arial; color:#666666;">
														이름
													</td>
													<td width="80%" style="padding:19px 0 7px; font-size:14px; line-height:22px; font-family:'맑은 고딕','Malgun Gothic', arial; color:#191919;">
														[[${receiveName}]]
													</td>
												</tr>
												<tr>
													<td valign="top" style="padding:8px 0 7px; font-size:14px; line-height:22px; font-family:'맑은 고딕','Malgun Gothic', arial; color:#666666;">
														주소
													</td>
													<td style="padding:8px 0 7px; font-size:14px; line-height:22px; font-family:'맑은 고딕','Malgun Gothic', arial; color:#191919;">
														[[${receivePostNum}]] [[${receiveAddr}]] [[${receiveAddrDetail}]]
													</td>
												</tr>
												<tr>
													<td valign="top" style="padding:8px 0 7px; font-size:14px; line-height:22px; font-family:'맑은 고딕','Malgun Gothic', arial; color:#666666;">
														휴대폰 번호
													</td>
													<td style="padding:8px 0 7px; font-size:14px; line-height:22px; font-family:'맑은 고딕','Malgun Gothic', arial; color:#191919;">
														[[${receivePhone}]]
													</td>
												</tr>
												<tr>
													<td valign="top" style="border-bottom:1px solid #ccc; padding:8px 0 21px; font-size:14px; line-height:22px; font-family:'맑은 고딕','Malgun Gothic', arial; color:#666666;">
														배송 메시지
													</td>
													<td style="border-bottom:1px solid #ccc; padding:8px 0 21px; font-size:14px; line-height:22px; font-family:'맑은 고딕','Malgun Gothic', arial; color:#191919;">
														[[${bigo}]]
													</td>
												</tr>
											</tbody>
										</table>
										<!-- // (e) 받는분 고객정보 -->
									</td>
								</tr>
								<tr><td height="60" style="font-size:0;"></td></tr>
								<!-- // (e) contents -->
		
								<!-- footer (s) // -->
								<tr>
									<td style="padding:50px 0; background-color:#191919;">
										<table cellpadding="0" cellspacing="0" border="0" width="690" align="center" style="border-collapse:collapse; font-family:'맑은 고딕','Malgun Gothic', arial; margin:0 auto; width:690px;">
											<tbody>
												<!--<tr>
													<td style="font-size:12px; line-height:20px; font-family:'맑은 고딕','Malgun Gothic', arial; color:#fff;">
														(주)비에스온<br>
														대표이사 : 이강진<br>
														주소 : 서울 영등포구 영등포로 193 (영등포동6가) BS타워&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														사업자등록번호 : 129-86-55571&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														<a href="https://ftc.go.kr/www/biz/bizCommList.do?key=5375" target="_blank" style="color:#fff;">사업자정보확인</a><br>
														통신판매업 신고번호 : 제2015-서울영등포-1579&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														개인정보관리책임자 : 류정희 <a href="mailto:info@bs-on.com" style="color:#fff;">info@bs-on.com</a><br>
														채용문의 : <a href="mailto:recruit@bs-on.com" style="color:#fff;">recruit@bs-on.com</a>
													</td>
												</tr>-->
												<tr>
													<td style="padding:30px 0 0; font-size:12px; line-height:20px; font-family:'맑은 고딕','Malgun Gothic', arial; color:#999;">본 메일은 발신전용 메일이며 문의에 대한 회신이 되지 않습니다.</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<!-- // (e) footer -->
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>